.about-page {
	background: #27272e;
	position: relative;
	z-index: 1;
	&::before {
		content: "";
		position: absolute;
		clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 15% 15%, 16.5% 7%);
		border-radius: 25% 2em 0 0 / 100% 2em 0 0em;
		width: 50.125em;
		height: 65.75em;
		right: -2em;
		top: 12em;
		z-index: -1;
		background: linear-gradient(216.12deg, #484b57 10.68%, rgba(59, 60, 69, 0.89) 27.36%, rgba(35, 35, 38, 0) 52.06%);
	}
	.cube-1 {
		width: 6.125em;
		top: 12.1875em;
		right: 9.1875em;
		animation: levitation 6s linear infinite;
	}
	.cube-2 {
		width: 5em;
		top: 28.875em;
		right: 6.375em;
		filter: blur(0.3em);
		transform: rotate(19.75deg);
		animation: levitation 6s linear infinite reverse;
	}
	.cube-3 {
		width: 7.25em;
		bottom: 4.25em;
		left: 29.75em;
		z-index: 3;
		animation: levitation 6s linear infinite reverse;
	}
	.cube-4 {
		width: 7.9375em;
		bottom: -2em;
		right: 26em;
		animation: levitation 6s linear infinite;
	}
	.line-1 {
		width: 50em;
		top: 13em;
		left: -7em;
		z-index: -1;
	}
	.line-2 {
		height: auto;
		width: 50em;
		bottom: -6em;
		right: 0;
	}
	@media (max-width: 1023px) {
		.cube-1 {
			top: 29.1875em;
			right: 70%;
		}
		@media (max-width: 578px) {
			.cube-1 {
				width: 4.5em;
				top: 5.5875em;
				right: -2em;
			}
			.cube-2 {
				top: 31%;
				z-index: -1;
			}
			.cube-3 {
				left: 0;
				bottom: 5.5em;
			}
			.cube-4 {
				right: 0;
			}
			.line-2 {
				bottom: -23em;
			}
		}
	}
}
.main-about-title {
	padding: 0 1em 0;
	.container__text {
		max-width: 48em;
	}
	h2 {
		color: #fff;
		max-width: 20em;
	}
	p {
		margin: 2.5em 0 0;
		max-width: 32em;
	}
}

.startup-rockets {
	position: absolute;
	width: 23.4375em;
	height: 35em;
	left: 66em;
	top: 9.125em;
	background: #27272e;
	border: 0.0625em solid #ffffff;
	border-radius: 2em;
	z-index: 2;
	user-select: none;
	pointer-events: none;
	img {
		width: 33.5em;
		height: 33.5em;
		margin-left: -4.5em;
	}
	@media (max-width: 1023px) {
		left: auto;
		right: -3em;
		top: 18.125em;
		@media (max-width: 578px) {
			top: 12.125em;
			width: 7.4375em;
			height: 9em;
			img {
				width: 8.5em;
				height: auto;
				margin-left: -2em;
			}
		}
	}
}

// Санж, тебе сюда.

.main-about-slider {
	padding: 11.25em 0 8.75em;
	position: relative;
	.container__text {
		max-width: 48em;
		position: relative;
	}
	@media (max-width: 1023px) {
		padding: 15.25em 0 8.75em;
	}
}

.about-slider-nav-wrap {
	width: 7.7em;
	position: absolute;
	left: -14.5em;
	bottom: -2em;
	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		&::after {
			content: "";
			width: 0.3em;
			height: 0.3em;
			border-right: 0.0625em solid #fff;
			border-bottom: 0.0625em solid #fff;
			transition-duration: 0.3s;
			transition-property: transform;
		}
		&:hover {
			&::after {
				transform: scale(1.1);
			}
		}
	}
	.swiper-button-prev {
		top: -2.5em;
		transform: rotate(225deg);
	}
	.swiper-button-next {
		bottom: -20em;
		transform: rotate(45deg);
	}
	@media (max-width: 1023px) {
		width: 100%;
		left: 0;
		bottom: auto;
		top: -9em;
		.swiper-button-prev {
			top: -2.5em;
			right: auto;
			left: 1em;
			transform: rotate(135deg);
		}
		.swiper-button-next {
			top: -2.5em;
			bottom: auto;
			left: auto;
			right: 1em;
			transform: rotate(315deg);
		}
	}
}

.aboutNavigation {
	width: 7.7em;
	height: 35em;
	.swiper-slide {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		span {
			line-height: 1.6875em;
			font-size: 1.125em;
			color: #525260;
			margin: 0 auto;
		}
	}
	.swiper-slide-active {
		span {
			display: block;
			border: 0.1em solid #fff;
			background: #232326;
			padding: 0.875em;
			border-radius: 1em;
			color: #fff;
			width: max-content;
			min-width: 6em;
		}
	}
	@media (max-width: 1023px) {
		width: 100%;
		height: 7em;
	}
}

.aboutSwiper {
	overflow: visible;
	&::before {
		content: "";
		position: absolute;
		width: 1.1em;
		height: 0.25em;
		border-radius: 0.0625em;
		background-color: #fff;
		left: -17.5em;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
	}
	&::after {
		content: "";
		position: absolute;
		background-image: url("../images/dist/components/about-point-line.svg");
		background-repeat: no-repeat;
		width: 5.9em;
		height: 1.1em;
		left: -5.05em;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
	}
	.about-slide {
		width: 60.625em;
		height: 31em;
		background: linear-gradient(217.46deg, #333647 -3.38%, #232326 58.57%);
		border: 0.0625em solid #ffffff;
		border-radius: 2em;
		padding: 6.5em 26.625em 5.875em 4em;
		position: relative;
		h6 {
			color: #fff;
		}
		p {
			margin: 1.5em 0;
		}
		&__year {
			position: absolute;
			top: 3em;
			left: 2em;
			span {
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 5.75em;
				line-height: 110%;
				color: #b1b1b1;
				mix-blend-mode: overlay;
			}
		}
	}
	@media (max-width: 1023px) {
		&::before {
			width: 0.25em;
			height: 1.1em;
			left: 50%;
			top: -10em;
			transform: translateX(-50%);
		}
		&::after {
			left: 50%;
			top: -1.8em;
			transform: translateX(-50%) rotate(90deg);
			width: 3em;
			height: 1.2em;
			background-size: contain;
			background-position: center;
		}
		.about-slide {
			width: 100%;
			height: 40em;
			padding: 4.5em 20.625em 5.875em 4em;
			&__year {
				span {
					font-size: 4.5em;
				}
			}
		}
		@media (max-width: 578px) {
			.about-slide {
				padding: 6.5em 1.5em 5.875em 1.5em;
				&__year {
					top: 4.5em;
					left: 0.5em;
					span {
						font-size: 3.5em;
					}
				}
			}
		}
	}
}
