.btn {
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	border-radius: 1em;
	font-family: "Poppins", sans-serif;
	user-select: none;
}

.btn-black {
	background: $accent;
	color: #ffffff;
	height: 3.5em;
	padding: 1.1em 2.5em;

	position: relative;
	background-image: linear-gradient(90deg, #fa406d 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	transition: background 5.5s cubic-bezier(0, 0.83, 0.58, 1);
	&:hover {
		background-position: 0;
	}
}
.btn-black-gradient {
	background: linear-gradient(261.75deg, #484b57 -2.32%, #232326 98.31%, #232326 98.31%),
		linear-gradient(180deg, #4b4d57 71.82%, #35373e 100%);
	color: #ffffff;
	height: 3.5em;
	padding: 1.1em 2.5em;
}

.btn-opacity {
	background: #fff;
	border: 0.1em solid $accent;
	color: $accent;
	height: 3.5em;
	padding: 1.1em 2.5em;
}
.btn-white {
	background: #fff;
	color: $accent;
	height: 3.5em;
	padding: 0 2.5em;

	position: relative;
	background-image: linear-gradient(90deg, #fa406d 50%, transparent 50%);
	background-position: 100%;
	background-size: 400%;
	transition: background 5.5s cubic-bezier(0, 0.83, 0.58, 1);
	&:hover {
		background-position: 0;
	}
}

.btn-pink {
	background: $pink;
	color: #ffffff;
	width: max-content;
	height: 3.5em;
	padding: 1em 2.5em;
	border: 0;
	text-align: center;
	transition: background 0.2s ease-out;
	&:hover {
		background: lighten($pink, 4%);
		color: #fff;
	}
}

.btn-disabled {
	border: 0.2em solid $accent;
	background-color: transparent;
	width: 4em;
	height: 4em;
	border-radius: 0.5em;
	display: block;
	&::after {
		content: "";
		background: url("../images/dist/icons/arrow-down-dark.svg");
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
		display: block;
		height: 100%;
	}
}
.btn-mouse-white,
.btn-mouse-pink {
	position: relative;
	&::before {
		content: "";
		width: 6.0625em;
		height: 6.25em;
		right: -3em;
		bottom: -2.3em;
		position: absolute;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	@media (max-width: 578px) {
		&::before {
			right: -2em;
		}
	}
}
.btn-mouse-white {
	&::before {
		background-image: url("../images/dist/components/btn-mouse-white.png");
	}
}
.btn-mouse-pink {
	&::before {
		background-image: url("../images/dist/components/btn-mouse-pink.png");
	}
}

.icon-cover-img {
	//flex: 0 0 33.333%; // Навсякий случай для резинности ширины
	//min-height: 10rem; // Навсякий случай для статичности высоты при отсутсвии контента
	//padding: 0 0 60% 0; // Все заметки в основном под мобилку
	//overflow: hidden; // Для заметки
	//position: relative; // Для заметки
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		//position: absolute; // Для заметки
		//top: 0; // Для заметки
		//left: 0; // Для заметки
	}
}
.icon-cover-svg {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.anchor {
	display: block;
	margin-bottom: 6.25em;
	margin-left: 9.375em;
	letter-spacing: -0.025em;
	color: $textcolor;
	width: max-content;
	img {
		margin-right: 1.1875em;
		width: 1.5em;
	}
	&:hover {
		color: $grey-light;
	}
	@media (max-width: 1023px) {
		display: none;
	}
}

.title {
	text-transform: uppercase;
	font-size: 1.25em;
	font-weight: bold;
	line-height: 100%;
	margin: 0 0 1.375em;
	&-pink {
		color: $pink;
		&-line {
			position: relative;
			padding-left: 2.3em;
			color: $pink;
			&::before {
				background-color: $pink;
				height: 0.125em;
				width: 1.3em;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				display: block;
				position: absolute;
				content: "";
			}
		}
	}
}

.pink-link {
	color: $textcolor;
	line-height: 1.5em;
	padding-right: 1em;
	&::after {
		transform: rotate(45deg);
		margin: 0.35em 0 0 0.5em;
		width: 0.6em;
		height: 0.6em;
		transition: border-bottom 0.1s ease-out, color 0.3s ease, border-right 0.1s ease-out, color 0.3s ease,
			opacity 0.1s ease-out;
		border-top: 0.15em solid $textcolor;
		border-right: 0.15em solid $textcolor;
		display: inline-block;
		position: absolute;
		content: "";
	}
	&:hover {
		color: $pink;
		&::after {
			border-top-color: $pink;
			border-right-color: $pink;
		}
	}
}

.slider-prev,
.slider-next {
	position: static;
	background-color: $pink;
	width: 4em;
	height: 4em;
	border-radius: 0.5em;
	&::after {
		content: "";
		background: url("../images/dist/icons/arrow-down-light.svg");
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 100%;
	}
}
.slider-prev {
	&::after {
		transform: rotate(-180deg);
	}
	&.swiper-button-disabled {
		&::after {
			transform: rotate(-180deg);
		}
	}
}
.slider-next.swiper-button-disabled,
.slider-prev.swiper-button-disabled {
	border: 0.2em solid $accent;
	background-color: transparent;
	opacity: 1;
	&::after {
		background: url("../images/dist/icons/arrow-down-dark.svg");
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.back-dark {
	position: relative;
	padding: 7.5625em 5.5625em;
	&::before {
		background: $accent;
		border-radius: 2em;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		z-index: -1;
		content: "";
	}
	&-small {
		position: relative;
		padding: 7.5em 5.875em;
		&::before {
			background: linear-gradient(263.56deg, #3b3d47 5.71%, #232326 98.02%);
			border-radius: 2.5em;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			z-index: -1;
			content: "";
		}
	}
	@media (max-width: 1023px) {
		&-small {
			@include paddingLeft(32px, 90px, 578px, 1023px);
			@include paddingRight(32px, 90px, 578px, 1023px);
			@include paddingTop(79px, 120px, 578px, 1023px);
			@include paddingBottom(77px, 120px, 578px, 1023px);
		}
	}
}
.lines {
	position: absolute;
	width: 100%;
	user-select: none;
	pointer-events: none;
}
.cloud {
	position: absolute;
	width: 10.125em;
	height: 7.5em;
}

.cubes {
	position: absolute;
	user-select: none;
	pointer-events: none;
}

.black-elips-small {
	width: 2em;
	height: 2em;
	left: 50%;
	transform: translateX(-50%);
	bottom: -2.1875em;
	border-radius: 50%;
	background: $accent;
	position: absolute;
}

.black-elips-big {
	width: 63.0625em;
	height: 63.0625em;
	right: -28.5em;
	top: -18.8125em;
	border-radius: 50%;
	background: $accent;
	z-index: -1;
	position: absolute;
	@media (max-width: 1023px) {
		width: 43.0625em;
		height: 43.0625em;
		top: -22.8125em;
	}
	@media (max-width: 578px) {
		top: -30.8125em;
	}
}

.line-cube {
	position: relative;
	display: inline-block;
	margin-left: -1.9em;
	margin-right: 0.8em;
	width: 1.43em;
	height: 1.21em;
	font-size: 0.7em;
	span {
		width: 1em;
		height: 0.5em;
		position: absolute;
		top: -0.02em;
		left: 0.17em;
		//transform: translateX(-50%) rotateX(38deg) rotate(-12deg) skewX(48deg) skewY(-12.8deg);
		transform: rotateX(29deg) rotate(-12deg) skewX(48deg) skewY(-12.8deg);
		background: #fed0da;
		border-radius: 0.01em;
	}
	&::before,
	&::after {
		width: 0.68em;
		height: 0.63em;
		position: absolute;
		bottom: 0;
		background: $accent;
		border-radius: 0.01em;
		content: "";
	}
	&::before {
		left: 0;
		transform: rotate(25deg) skew(25deg);
	}
	&::after {
		right: 0;
		transform: rotate(335deg) skew(-25deg);
	}
}
