.consultation-page {
	padding-top: 9em;
}

.consultation-banner {
	background: $accent;
	border-radius: 2.5em;
	padding: 4.375em 1em 1em 1em;
	margin: 0 0 20.625em;
	&-wrap {
		position: relative;
	}
	&__info {
		text-align: center;
		max-width: 40.5em;
		margin: 0 auto;
		position: relative;
		z-index: 1;
		h1 {
			color: #fff;
			margin: 0 auto;
		}
		p {
			line-height: 150%;
			margin: 1em 0 2.5em;
			color: #fff;
		}
	}
	&__images {
		position: relative;
		min-height: 18.75em;
		img {
			width: 56.1875em;
			height: 35.25em;
			left: 50%;
			transform: translateX(-50%);
			top: -4em;
			position: absolute;
			z-index: 1;
			user-select: none;
			pointer-events: none;
		}
	}
	@media (max-width: 578px) {
		margin: 0 0 9.375em;
		&__images {
			min-height: 8.5em;
			img {
				width: 100%;
				height: auto;
				top: 2.5em;
			}
		}
	}
}

.consultation-elips {
	background: #373744;
	position: absolute;
	border-radius: 50%;
	&-black-1 {
		width: 4.3125em;
		height: 4.3125em;
		left: 13.625em;
		top: 37.125em;
	}
	&-black-2 {
		width: 5.6875em;
		height: 5.6875em;
		left: 25.625em;
		top: 0.9375em;
	}
	&-black-3 {
		width: 5.1875em;
		height: 5.1875em;
		right: 26.5em;
		top: 17em;
	}
}

.consultation {
	&__title {
		text-align: center;
		margin: 0 0 5em;
		position: relative;
		h6 {
			text-transform: uppercase;
			font-size: 1.25em;
			line-height: 100%;
			font-weight: bold;
			margin: 0 0 0.875em;
		}
		h2 {
			max-width: 9.75em;
			margin: 0 auto;
			span {
				color: $pink;
			}
		}
		p {
			max-width: 31.25em;
			font-size: 1.125em;
			line-height: 1.6875em;
			margin: 1.8em auto 0;
		}
		&::before {
			position: absolute;
			width: 4.875em;
			height: 4.875em;
			left: 17.5625em;
			top: -3.625em;
			background: #fed0da;
			border-radius: 50%;
			content: "";
		}
		&::after {
			position: absolute;
			width: 3.0625em;
			height: 3.0625em;
			left: 65.9375em;
			top: 10.5625em;
			background: #fab8c4;
			border-radius: 50%;
			content: "";
		}
	}
	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -2em;
		&-images {
			width: 34.5em;
			position: relative;
			.illustration-lamp-photo {
				position: absolute;
				left: -30%;
				top: -40%;
				width: 58.25em;
				height: 82.625em;
				user-select: none;
				pointer-events: none;
			}
		}
		&-elips {
			position: absolute;
			z-index: -1;
			border-radius: 50%;
			&:nth-child(1) {
				width: 5.25em;
				height: 5.25em;
				left: -5em;
				top: -2.25em;
				background: #fff2f4;
			}
			&:nth-child(2) {
				width: 6.9375em;
				height: 6.9375em;
				left: 7.5em;
				top: 14.75em;
				background: #fed0da;
			}
			&:nth-child(3) {
				width: 29.375em;
				height: 29.375em;
				right: -21.25em;
				top: -15.625em;
				background: #fff2f4;
			}
		}
		@media (max-width: 578px) {
			margin: 0;
			&-images {
				display: none;
			}
		}
	}
}

.consult-card {
	border: 0.1em solid #999fae;
	background: #fff;
	border-radius: 2em;
	padding: 2.5em 2.5em 8.375em;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
	transition: background 0.2s ease-out;
	&-wrap {
		padding: 0 2em;
		margin: 0 0 4em;
		width: 34.5em;
	}
	h2 {
		transition: color 0.2s ease-out;
	}
	&__glas {
		display: flex;
		margin: 0 0 1em;
		img {
			width: 1.25em;
			height: 1.25em;
		}
		p {
			margin-bottom: 0;
			padding-left: 1em;
			color: $accent;
			font-size: 0.875em;
			line-height: 1.7125em;
			transition: color 0.2s ease-out;
		}
	}
	&__price {
		display: flex;
		align-items: center;
		margin: 1.25em 0 2.75em;
		h3 {
			font-weight: 600;
			font-size: 1.75em;
			line-height: 120%;
			letter-spacing: -0.025em;
			transition: color 0.2s ease-out;
			span {
				font-weight: bold;
				font-size: 0.6em;
				line-height: 140%;
				text-transform: uppercase;
			}
		}
		h5 {
			font-family: $userfont;
			font-style: normal;
			font-weight: bold;
			font-size: 1em;
			line-height: 1.5em;
			color: #fed0da;
			display: flex;
			margin-left: 1em;
			&::before {
				content: "";
				display: block;
				width: 0.5em;
				height: 0.5em;
				border-radius: 50%;
				background: #999fae;
				margin: 0.5em 1em 0 0;
			}
		}
	}
	button {
		position: absolute;
		bottom: 2.5em;
		left: 2.5em;
		right: 2.5em;
		width: 100%;
		max-width: 25em;
	}
	ul {
		padding-left: 1.4em;
		li {
			margin: 0 0 1em;
		}
	}
	&:hover {
		background: $accent;
		.consult-card__glas {
			p {
				color: #fff;
			}
		}
		h2 {
			color: #fff;
		}
		.consult-card__price {
			h3 {
				color: #fff;
			}
		}
		ul {
			li {
				color: #fff;
				.line-cube {
					&::before,
					&::after {
						background: #dadada;
					}
				}
			}
		}
		.btn {
			background: rgb(251, 84, 124);
			transition: 0.3s ease-out;
		}
	}

	@media (max-width: 578px) {
		padding: 1.5em 1.5em 8.375em;
		&-wrap {
			padding: 0 1em;
			margin: 0 0 1.5em;
		}
		button {
			left: 1.5em;
			right: 1em;
			padding: 1em;
			width: auto;
		}
		&__price {
			flex-direction: column;
			align-items: flex-start;
			h5 {
				margin-left: 0;
				&::before {
					display: none;
				}
			}
		}
	}
}
