.original-steps {
	position: relative;
	.line-1-pink {
		position: absolute;
		right: -14em;
		top: 4em;
		width: 60em;
		z-index: -1;
	}
	&-key,
	&-evrika,
	&-lupa {
		position: absolute;
		user-select: none;
		pointer-events: none;
		z-index: -1;
	}
	&-key {
		width: 6.04625em;
		height: 5.5em;
		right: 40%;
		top: 2em;
	}
	&-evrika {
		top: 10.625em;
		right: 4em;
		width: 11.25em;
	}
	&-lupa {
		width: 30.125em;
		bottom: 0;
		right: 0;
	}
	&-cube-1 {
		left: 1em;
		bottom: 3em;
		width: 8.08062em;
		height: 7.49062em;
		transform: rotate(23.68deg);
	}
	&-cube-2 {
		right: 18.125em;
		top: 2em;
		width: 4.77688em;
		height: 4.42812em;
	}
	&-cube-3 {
		width: 5.63687em;
		height: 5.22562em;
		right: 5.125em;
		top: 40%;
		transform: rotate(15deg);
	}
	&-cube-4 {
		width: 2.70938em;
		height: 2.51125em;
		right: 3.72em;
		top: -4em;
		transform: rotate(23.68deg);
	}
	&-cube-5 {
		width: 2.3775em;
		height: 2.20375em;
		right: 19.875em;
		top: 19.875em;
		transform: rotate(15deg);
	}
	@media (max-width: 1023px) {
		&-key {
			right: 0;
		}
		&-evrika {
			right: 0;
			width: 7.25em;
		}
		&-lupa {
			width: 15em;
		}
		&-cube-2 {
			top: -5em;
		}
		@media (max-width: 1023px) {
			.title-pink-line {
				font-size: 1em;
			}
			.h2-64 {
				font-size: 2.375em;
			}
			.line-1-pink {
				display: none;
			}
			&-lupa {
				z-index: 1;
				width: 13em;
				right: -4em;
			}
			&-evrika {
				top: 41%;
				z-index: 1;
			}
			&-cube-1 {
				left: 2em;
				bottom: 1.5em;
				width: 7.08062em;
				height: 6.49062em;
			}
			&-cube-2 {
				right: 3em;
			}
			&-cube-3 {
				right: 0;
				top: 75%;
			}
			&-cube-4 {
				width: 3.70938em;
				height: 3.51125em;
				right: 2em;
				top: 23.5em;
			}
			&-cube-5 {
				right: 7em;
				top: 73%;
			}
		}
	}
}

.crm-main-block {
	padding: 0 0 10em;
	position: relative;
	.container__text {
		position: relative;
	}
	&__content {
		h1 {
			font-size: 4.5em;
			line-height: 100%;
			font-weight: 600;
			position: relative;
			&::before {
				content: "";
				background-image: url("../images/dist/components/crm-vector.png");
				background-size: 100%;
				background-repeat: no-repeat;
				position: absolute;
				z-index: -1;
				left: -0.4em;
				top: -0.2em;
				width: 6.2em;
				height: 1.4em;
			}
			.dot-pink {
				display: none;
			}
		}
	}
	.main-block__info {
		p {
			margin: 1.5em 0;
		}
	}
	.main-block__images {
		.crm-main-block-illustration {
			position: absolute;
			right: -15em;
			top: -11.5em;
			width: 48.375em;
			animation: levitation 18s linear infinite;
		}
	}
	.cube-1 {
		width: 5.1875em;
		transform: rotate(78.66deg);
		top: -6em;
		left: 30%;
	}
	.cube-2 {
		width: 3.625em;
		bottom: -6em;
		left: 40%;
		transform: rotate(12.15deg);
	}
	.cube-3 {
		width: 6.625em;
		right: -15em;
		bottom: 0;
	}
	.elipses {
		z-index: -1;
	}
	.blue-elips-1 {
		width: 3.5625em;
		height: 3.5625em;
		right: 5.75em;
		top: -6em;
		animation: levitation 8s linear infinite;
	}
	.blue-elips-2 {
		width: 6em;
		height: 6em;
		right: 24.75em;
		top: 5em;
		animation: levitation 8s linear infinite reverse;
	}
	.blue-elips-3 {
		width: 16.25em;
		height: 16.25em;
		right: -12.25em;
		bottom: -6em;
		animation: levitation 8s linear infinite;
	}
	@media (max-width: 1023px) {
		.main-block__images {
			.crm-main-block-illustration {
				right: 50%;
				transform: translatex(50%);
				top: -5.5em;
			}
		}
		.main-block__info {
			h1 {
				@include fluidFontSize(56px, 72px, 320px, 1023px);
			}
		}
		@media (max-width: 578px) {
			.main-block__images {
				.crm-main-block-illustration {
					width: 37em;
					top: 0;
					right: -2em;
				}
			}
			.blue-elips-2 {
				right: 50%;
				top: 29em;
			}
		}
	}
}
.crm-main-block-flag {
	width: 4.75em;
	position: absolute;
	user-select: none;
	pointer-events: none;
	left: -19em;
	top: -3em;
	animation: levitation 8s linear infinite;
}

.elips-for-logo-blue {
	position: absolute;
	z-index: -1;
	width: 23.3125em;
	height: 23.3125em;
	left: -12.4375em;
	top: -12.5em;
	background: #f4faff;
	border-radius: 50%;
	mix-blend-mode: normal;
	user-select: none;
	@media (max-width: 1023px) {
		left: -9.4375em;
		top: -15.5em;
	}
}
.blue-elips-big {
	width: 71.0625em;
	height: 71.125em;
	right: -28.5em;
	top: -10.8125em;
	border-radius: 50%;
	background: #f4faff;
	z-index: -1;
	position: absolute;
}

.crm-secondary-block {
	.secondary-block {
		&__images {
			width: 30%;
			right: -18em;
			top: -7em;
			position: relative;
			img {
				position: absolute;
				user-select: none;
				pointer-events: none;
				&:nth-child(1) {
					right: 15.75em;
					width: 20.3125em;
					top: 2.125em;
					z-index: 2;
				}
				&:nth-child(2) {
					right: 7.65em;
					width: 13.8125em;
					top: 12.925em;
					z-index: 2;
				}
				&:nth-child(3) {
					right: 10.85em;
					width: 2.5em;
					top: 20.725em;
				}
				&:nth-child(4) {
					right: 4.75em;
					width: 34.375em;
					top: 10.125em;
					z-index: 1;
				}
				&:nth-child(5) {
					right: 12.55em;
					width: 4.9375em;
					top: 7.725em;
					z-index: 2;
				}
			}
		}
		.cube-1 {
			width: 3.75em;
			left: 40%;
			top: -4.5em;
			animation: levitation 5s linear infinite alternate-reverse;
		}
		.cube-2 {
			width: 8.75em;
			right: 9em;
			bottom: 6.375em;
			z-index: 2;
			animation: levitation 5s linear infinite;
		}
		.cube-3 {
			width: 4.75em;
			bottom: -0.875em;
			right: 20em;
			z-index: 2;
			animation: levitation 6s linear infinite reverse;
		}
		.line-dash-1 {
			width: 45.875em;
			right: -11em;
			top: -8em;
		}
		.third-blocks-elips-mobile-1 {
			top: 11em;
			right: 13em;
		}
		.third-blocks-elips-mobile-2 {
			top: 19em;
			right: 15em;
		}
	}
	@media (max-width: 1023px) {
		.secondary-block {
			&__images {
				top: auto;
				width: 100%;
				right: auto;
				img {
					&:nth-child(1) {
						right: 44%;
					}
					&:nth-child(2) {
						right: 32%;
					}
					&:nth-child(3) {
						right: 36%;
					}
					&:nth-child(4) {
						right: 28%;
					}
					&:nth-child(5) {
						right: 39%;
					}
				}
			}
		}
		@media (max-width: 578px) {
			&-wrap {
				padding: 4.25em ​0 7.8125e;
			}
			.secondary-block {
				&__images {
					img {
						&:nth-child(1) {
							right: 8em;
						}
						&:nth-child(2) {
							right: 1em;
						}
						&:nth-child(3) {
							right: 5em;
						}
						&:nth-child(4) {
							right: 50%;
							transform: translateX(50%);
						}
						&:nth-child(5) {
							right: 7em;
						}
					}
				}
				.cube-2 {
					bottom: -3.625em;
				}
				.cube-3 {
					bottom: -8.875em;
					right: auto;
					left: 0em;
				}
				.line-dash-1 {
					width: 35.875em;
					opacity: 0.5;
				}
				.third-blocks-elips-mobile-1 {
					top: auto;
					bottom: 1em;
					right: auto;
					left: 1em;
				}
				.third-blocks-elips-mobile-2 {
					top: auto;
					bottom: -3em;
					right: auto;
					left: 4em;
				}
			}
		}
	}
}

.crm-list-components {
	.container__text {
		position: relative;
	}
	.list-blocks-bell-flat {
		width: 12.5em;
		position: absolute;
		right: -10em;
		top: -3em;
		user-select: none;
		pointer-events: none;
		transform-origin: 4.6875em 0;
		animation: bell 2s linear infinite;
	}
	.line-dash-1 {
		right: -22em;
		top: 0;
		width: 34.5625em;
		z-index: -1;
	}
	.cube-1 {
		width: 4.75em;
		transform: rotate(12.6deg);
		right: 8em;
		top: 0;
		animation: levitation 5s linear infinite alternate-reverse;
	}
	.cube-2 {
		width: 2.8125em;
		right: -13em;
		top: 10.5em;
		animation: levitation 7s linear infinite reverse;
	}
	.cube-3 {
		width: 5.8125em;
		top: 15.125em;
		right: -11em;
		animation: levitation 6s linear infinite;
	}
	@media (max-width: 578px) {
		.list-blocks-bell-flat,
		.cube-1 {
			display: none;
		}
	}
}

.converse-cube-1 {
	width: 5.1875em;
	transform: rotate(78.66deg);
	right: 40%;
	top: 10em;
}
.converse-cube-2 {
	width: 2.625em;
	transform: rotate(78.66deg);
	right: 16%;
	top: 23.375em;
}
.converse-cube-3 {
	width: 4.125em;
	transform: rotate(78.66deg);
	right: 34%;
	bottom: 10em;
}
@media (max-width: 1023px) {
	.converse-cube-1 {
		top: 2em;
	}
	.converse-cube-2 {
		right: 3%;
	}
}
.crm-hand {
	width: 40.875em;
	position: absolute;
	right: -14em;
	top: -15em;
	pointer-events: none;
	user-select: none;
	@media (max-width: 1023px) {
		display: none;
	}
}
.crm-converse-laptop {
	width: 40.6875em;
	right: -4em;
	top: 16em;
	position: absolute;
	user-select: none;
	pointer-events: none;
	@media (max-width: 1023px) {
		width: 57.6875em;
		right: -4em;
		top: 0;
	}
	@media (max-width: 578px) {
		width: 35.6875em;
		right: -4em;
		top: 0;
	}
}

.crm-converse {
	&.secondary-block-wrap {
		padding: 0 0 7.8125em;
	}
	.secondary-block {
		padding: 10.5em 6em;
		&__images {
			width: 30%;
		}
		&__info {
			h2 {
				position: relative;
				&::before {
					content: "";
					background-image: url("../images/dist/components/crm-vector-red.png");
					background-size: 100%;
					background-repeat: no-repeat;
					position: absolute;
					z-index: -1;
					right: -1em;
					top: -0.4em;
					width: 4.3em;
					height: 2.4em;
				}
			}
		}
		.list-checks {
			max-width: 40.6875em;
		}
	}
	@media (max-width: 1023px) {
		.secondary-block {
			padding: 10.5em 6em;
			&__images {
				width: 100%;
			}
		}
		@media (max-width: 578px) {
			.secondary-block {
				padding: 9em 1em;
				&__info {
					h2 {
						&::before {
							right: 1em;
							top: 0.8em;
						}
					}
					&-links {
						.btn-opacity {
							width: 100%;
							justify-content: center;
						}
					}
				}
				&__images {
					min-height: 10em;
				}
			}
		}
	}
}

// Seo ===========================================

.seo-page {
	&.content {
		padding-top: 10.875em;
	}
	.quote-wrap {
		background: #fff2f4;
		h2 {
			max-width: 20em;
		}
	}
	.list-components-wrap {
		padding: 8em 1em 3em;
	}
	.secondary-block-wrap {
		padding: 0 0 7.8125em;
	}
	@media (max-width: 1023px) {
		.secondary-block-wrap {
			margin: 5em 0 0;
		}
	}
}

.seo-main-block-illustration {
	width: 89.0625em;
	left: -3em;
	top: -4em;
	position: absolute;
	user-select: none;
	pointer-events: none;
	animation: levitation 12s linear infinite;
	@media (max-width: 578px) {
		width: 31.0625em;
		left: -11em;
		top: auto;
		bottom: 0;
	}
}

.seo-main-block {
	position: relative;
	margin: 0 0 5em;
	.container {
		position: relative;
	}
	.back-dark {
		&::before {
			background: linear-gradient(261.75deg, #484b57 -2.32%, #232326 98.31%);
			border-radius: 3em;
		}
	}
	.main-block__info {
		h1 {
			color: #fff;
			position: relative;
			&::before {
				content: "";
				background-image: url("../images/dist/components/seo-vector.png");
				background-size: 100%;
				background-repeat: no-repeat;
				position: absolute;
				z-index: -1;
				right: 2em;
				top: 2em;
				width: 2.5em;
				height: 1.4em;
			}
			.dot-pink {
				display: none;
			}
		}
		&-links {
			.btn-opacity {
				color: #fff;
				background-color: transparent;
				border: 0.1em solid #fff;
			}
		}
	}
	@media (max-width: 1023px) {
		.main-block__images {
			min-height: 0;
		}
		@media (max-width: 578px) {
			.back-dark {
				padding: 3.5625em 1em;
			}
			.main-block__images {
				min-height: 20em;
			}
			.main-block__info {
				&-links {
					.btn-opacity {
						width: 100%;
						justify-content: center;
					}
				}
			}
		}
	}
}

.seo-secondary-block-illustration {
	width: 65.9375em;
	position: absolute;
	right: -20em;
	top: -4em;
	@media (max-width: 1023px) {
		right: 0;
		@media (max-width: 578px) {
			width: 45.9375em;
			top: 2em;
		}
	}
}

.seo-secondary-block {
	margin: 7.5em 0 0;
	.line-dash-1 {
		width: 30.5em;
		z-index: -1;
		top: 0;
		right: 0;
	}
	@media (max-width: 578px) {
		&.secondary-block-wrap {
			padding: 0;
		}
	}
}

.seo-steps-work {
	position: relative;
	&-wrap {
		padding: 0 0 8.125em;
	}
	&__head {
		p {
			margin: 1em 0 0;
		}
	}
	&__body {
		margin: 3em 0 0;
		max-width: 56.25em;
	}
	.accordion__list {
		.seo-steps-work-item {
			padding: 2.25em 2em;
			border: 0.0625em solid #999fae;
			border-radius: 1em;
			margin: 0 0 1.5em;
			transition: border 0.3s ease-out;
			background-color: #fff;
			&.open {
				border: 0.0625em solid #fa406d;
				.accordion__content {
					padding: 1.25em 6.2em 0em;
				}
				.accordion__icon {
					&::before {
						content: "свернуть";
					}
					&::after {
						transform: rotate(225deg);
					}
				}
			}
		}
		.seo-steps-work-control {
			display: flex;
			position: relative;
			p {
				margin: 0;
				font-family: "Montserrat", sans-serif;
				font-weight: 600;
				font-size: 1.75em;
				line-height: 120%;
				letter-spacing: -0.025em;
				color: #292930;
			}
		}
		.seo-steps-work-item-number {
			font-family: "Montserrat", sans-serif;
			font-weight: 600;
			font-size: 1.5em;
			line-height: 120%;
			color: #fff;
			background-color: #fa406d;
			border-radius: 6.25em;
			padding: 0.125em 0.75em;
			margin: 0 1.25em 0 0;
		}
		.accordion__content {
			transition: max-height 0.3s ease-out;
			p {
				font-family: "Poppins", sans-serif;
				font-style: normal;
				font-weight: normal;
				font-size: 1.125em;
				line-height: 1.6875em;
				color: #7c7e86;
				span {
					font-family: "Poppins", sans-serif;
					font-style: normal;
					font-weight: 600;
					font-size: 1em;
					line-height: 130%;
					color: #fa406d;
					margin-right: 0.625em;
				}
			}
		}
		.accordion__icon {
			position: absolute;
			right: 0;
			display: flex;
			&::before {
				content: "открыть";
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: 600;
				font-size: 0.875em;
				line-height: 100%;
				text-align: right;
				color: #999fae;
				margin: 0.3em 1em 0 0;
			}
			&::after {
				content: "";
				width: 0.5em;
				height: 0.5em;
				margin-top: 0.3em;
				display: block;
				border-bottom: 0.125em solid #999fae;
				border-right: 0.125em solid #999fae;
				transform: rotate(45deg);
				transition: transform 0.1s ease-out;
			}
		}
	}
	.coffee-red {
		width: 16.75em;
		right: 13%;
		top: 0;
		position: absolute;
		user-select: auto;
		pointer-events: none;
	}
	.text-popup {
		width: 8.9375em;
		right: 17%;
		top: 37%;
		position: absolute;
		user-select: auto;
		pointer-events: none;
	}
	.lamp {
		width: 21.125em;
		right: 0;
		bottom: 0;
		position: absolute;
		user-select: auto;
		pointer-events: none;
	}
	.line-1 {
		width: 22.625em;
		right: 0;
		top: 19%;
		z-index: -2;
	}
	.cloud {
		width: 7.91812em;
		height: 5.10313em;
		top: -7em;
		right: 33%;
		animation: levitation 7s linear infinite reverse;
	}
	.cube-1 {
		width: 4.375em;
		right: 0;
		top: 15%;
		animation: levitation 7s linear infinite reverse;
	}
	.cube-2 {
		width: 5.875em;
		top: 50%;
		right: 0;
		animation: levitation 7s linear infinite;
	}
	.cube-3 {
		width: 3.4375em;
		bottom: 15%;
		right: 24%;
		animation: levitation 7s linear infinite reverse;
	}
	.seo-steps-rectangle-1 {
		width: 17.60625em;
		height: 17.60625em;
		right: 16%;
		top: 8%;
		z-index: -1;
		position: absolute;
		background: #fff2f4;
		border-radius: 2.5em;
		transform: rotate(106.04deg);
	}
	.seo-steps-rectangle-2 {
		width: 29.03875em;
		height: 29.03875em;
		right: 5%;
		bottom: -5%;
		z-index: -1;
		position: absolute;
		background: #fff2f4;
		border-radius: 2.5em;
		transform: rotate(-50.64deg);
	}
	@media (max-width: 1023px) {
		&-wrap {
			padding: 6em 1em 8.125em;
		}
		.accordion__list {
			.seo-steps-work-item {
				&.open {
					.accordion__content {
						padding: 1.25em 0 0;
					}
				}
			}
			.seo-steps-work-control {
				flex-direction: column;
				.seo-steps-work-item-number {
					width: 3em;
				}
				p {
					margin: 0.7em 0 0;
				}
			}
		}
		.coffee-red {
			right: 3%;
			top: -13em;
		}
		.cloud {
			top: -9em;
			right: auto;
			left: 10%;
		}
		.lamp {
			display: none;
		}
		.text-popup {
			display: none;
		}
		.cube-1 {
			display: none;
		}
		.cube-2 {
			bottom: -7em;
			top: auto;
		}
		.cube-3 {
			bottom: -7em;
		}
		.seo-steps-rectangle-1 {
			top: -9em;
			right: -3em;
		}
		.seo-steps-rectangle-2 {
			right: -10em;
			bottom: 17%;
		}
		@media (max-width: 578px) {
			.accordion__list {
				.seo-steps-work-control {
					.seo-steps-work-item-number {
						font-size: 1em;
					}
					p {
						font-size: 1.25em;
					}
				}
			}
			.cube-2 {
				right: 13%;
				bottom: -9em;
				width: 7.875em;
			}
			.cube-3 {
				width: 5.4375em;
				bottom: -9em;
				right: 58%;
			}
		}
	}
}
