// Dev-des-faq

.dev-des-faq {
	background: #27272e;
	position: relative;
	&::before,
	&::after {
		content: "";
		position: absolute;
		border-radius: 50%;
		background: #373745;
	}
	&::before {
		width: 16.75em;
		height: 16.75em;
		right: -5em;
		top: 9em;
		animation: levitation 4s linear infinite;
	}
	&::after {
		bottom: 19.5em;
		left: 8.375em;
		width: 5.625em;
		height: 5.625em;
		animation: levitation 5s linear infinite reverse;
	}
	.faq {
		&__container {
			background: none;
			&::before {
				content: "";
				position: absolute;
				border-radius: 50%;
				width: 2.5em;
				height: 2.5em;
				background: #31313e;
				left: 18em;
				top: 18.75em;
				animation: levitation 4s linear infinite reverse;
			}
			.lines {
				display: none;
			}
		}
	}
}

// Elipses ==========================================

.elipses {
	position: absolute;
	border-radius: 50%;
}
.elips-180 {
	width: 11.25em;
	height: 11.25em;
	animation: levitation 7s linear infinite;
}
.elips-130 {
	width: 8.125em;
	height: 8.125em;
	animation: levitation 6s linear infinite;
}
.elips-90 {
	width: 5.625em;
	height: 5.625em;
	animation: levitation 6s linear infinite;
}
.elips-70 {
	width: 4.375em;
	height: 4.375em;
	animation: levitation 5s linear infinite;
}
.elips-48 {
	width: 3em;
	height: 3em;
	animation: levitation 4s linear infinite;
}
.elips-40 {
	width: 2.5em;
	height: 2.5em;
	animation: levitation 4s linear infinite reverse;
}
.elips-32 {
	width: 1.5em;
	height: 1.5em;
	animation: levitation 5s linear infinite alternate-reverse;
}
.elips-24 {
	width: 1.5em;
	height: 1.5em;
	animation: levitation 5s linear infinite reverse;
}
// Elipses-color
.elips-accent1 {
	background: #ffdc60;
}
.elips-accent2 {
	background: #fab8c4;
}
.elips-blue {
	background: #badeff;
}
.elips-primary {
	background: #5956e9;
}
.elips-white {
	background: #fff;
}
.elips-red {
	background: #fa406d;
}
.elips-pink {
	background: #fff2f4;
}
.elips-black {
	background: #292930;
}

// First-Blocks ==========================================================================================\

.design-page {
	@media (max-width: 1023px) {
		.blue-elips-big {
			right: -22%;
			top: 39.1875em;
		}
	}
}
.design-main-block {
	padding-bottom: 15.625em;
	position: relative;
	.elipses {
		z-index: -1;
	}
	&-elips-1 {
		left: 45%;
		top: -3em;
	}
	&-elips-2 {
		left: 2em;
		top: 11em;
	}
	&-elips-3 {
		left: 53%;
		bottom: 10em;
	}
	&-elips-4 {
		right: 30%;
		top: -5em;
	}
	&-elips-5 {
		right: 6%;
		bottom: 17em;
	}
	@media (max-width: 1023px) {
		padding-bottom: 12.625em;
		@media (max-width: 578px) {
			padding-bottom: 10.625em;
			&-elips-1 {
				left: 70%;
			}
			&-elips-2 {
				left: 0em;
				top: 17em;
			}
			&-elips-3 {
				bottom: 26em;
			}
			&-elips-4 {
				top: auto;
				bottom: 3em;
			}
			&-elips-5 {
				right: 82%;
				bottom: 2em;
			}
		}
	}
}
.elips-for-logo-yellow {
	width: 25em;
	height: 25em;
	left: -12.4375em;
	top: -16em;
	background: #ffdc60;
	position: absolute;
	border-radius: 50%;
	z-index: -1;
}

.design-main-block-illustration {
	width: 47.625em;
	position: absolute;
	user-select: none;
	pointer-events: none;
	right: 0;
	top: -5em;
}
@media (max-width: 1023px) {
	.design-main-block-illustration {
		right: 12%;
		top: 0;
	}
	.elips-for-logo-yellow {
		top: -16em;
	}
	@media (max-width: 578px) {
		.design-main-block-illustration {
			width: 30.625em;
			right: 0;
			top: 4em;
		}
	}
}

// Dev-logo -------------

.dev-logo-page {
	.blog-bg {
		width: 75em;
		height: 43.75em;
		border-radius: 20.59831em;
		left: 58.875em;
		top: 8.55187em;
	}
}

.dev-logo-main-block {
	position: relative;
	padding-bottom: 13.6875em;
	.colors-lines-1 {
		.line-color {
			&:nth-child(1) {
				background: #ffdc60;
			}
			&:nth-child(2) {
				background: #5956e9;
			}
			&:nth-child(3) {
				background: #badeff;
			}
		}
	}
	.colors-lines-2 {
		bottom: 5em;
		.line-color {
			&:nth-child(1) {
				background: #fff;
			}
			&:nth-child(2) {
				background: #5956e9;
			}
			&:nth-child(3) {
				background: #badeff;
			}
		}
	}
	.colors-lines-2 {
		bottom: 5em;
		.line-color {
			&:nth-child(1) {
				background: #fff;
			}
			&:nth-child(2) {
				background: #5956e9;
			}
			&:nth-child(3) {
				background: #badeff;
			}
		}
	}
	.colors-lines-3 {
		left: 37%;
		bottom: 2em;
		.line-color {
			&:nth-child(1) {
				background: #5956e9;
			}
			&:nth-child(2) {
				background: #fab8c4;
			}
		}
	}
	.coffee-pink {
		width: 12.625em;
		position: absolute;
		user-select: none;
		pointer-events: none;
		left: 45%;
		bottom: 1em;
	}
	@media (max-width: 1023px) {
		padding-bottom: 10em;
	}
}

.dev-logo-main-block-illustration {
	width: 43em;
	right: 0;
	top: 0;
	position: absolute;
	user-select: none;
	pointer-events: none;
	@media (max-width: 1023px) {
		right: 30%;
		@media (max-width: 578px) {
			width: 32em;
			right: 0;
			top: 3em;
		}
	}
}

// Naming ----------

.naming-main-block-illustration {
	position: absolute;
	user-select: none;
	pointer-events: none;
	right: 0;
	top: -12.9em;
	width: 73.125em;
	@media (max-width: 1023px) {
		top: -4em;
		width: 63.125em;
		@media (max-width: 578px) {
			top: 0em;
			width: 62.025em;
			right: -4em;
		}
	}
}
.naming-main-block {
	position: relative;
	padding-bottom: 10em;
	margin-bottom: 5em;
}
.line-1-yellow {
	width: 40em;
	top: -31%;
	left: 32%;
	z-index: -1;
	@media (max-width: 1023px) {
		left: 0;
		top: 0;
	}
}

// Brand --------

.brand-page {
	padding-top: 15em;
	.third-blocks {
		&__description {
			width: 46%;
		}
		@media (max-width: 1023px) {
			&__description {
				width: 100%;
			}
		}
	}
	@media (max-width: 769px) {
		padding-top: 10em;
	}
}

.brand-main-block {
	position: relative;
	padding-bottom: 12.375em;
	.line-1-yellow {
		top: -38%;
	}
	@media (max-width: 1023px) {
		.line-1-yellow {
			top: 0;
			left: 0;
		}
	}
}
.brand-main-block-illustration {
	position: absolute;
	user-select: none;
	pointer-events: none;
	right: 0;
	bottom: 0;
	width: 63.375em;
	@media (max-width: 1023px) {
		top: -4em;
		width: 53.525em;
		@media (max-width: 578px) {
			top: 0em;
			width: 49.125em;
			right: -4em;
		}
	}
}

// Form-style

.form-style-page {
	padding-top: 15em;
	.third-blocks {
		&__description {
			width: 46%;
		}
		@media (max-width: 1023px) {
			&__description {
				width: 100%;
			}
		}
	}
	@media (max-width: 769px) {
		padding-top: 10em;
	}
}

.form-style-main-block {
	position: relative;
	padding-bottom: 12.375em;
	.main-block__info {
		h1 {
			max-width: 10em;
		}
	}
	.line-1-yellow {
		top: -38%;
	}
	@media (max-width: 1023px) {
		.line-1-yellow {
			top: 0;
			left: 0;
		}
	}
}

.form-style-main-block-illustration {
	position: absolute;
	user-select: none;
	pointer-events: none;
	right: 0;
	top: -5em;
	width: 59em;
	@media (max-width: 1023px) {
		top: -4em;
		width: 50.125em;
		@media (max-width: 578px) {
			top: 2em;
			width: 43.025em;
			right: -3em;
		}
	}
}

// Second-Blocks ==========================================

.second-blocks {
	display: flex;
	&-wrap {
		padding: 6.25em 0;
		background-color: #27272e;
		background-image: url("../images/dist/background-element.png");
		background-position: top left;
		background-repeat: no-repeat;
	}
	&__left {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		h3 {
			font-weight: 600;
			font-size: 1.25em;
			line-height: 120%;
			color: #fff;
		}
		&-lines {
			display: flex;
			align-items: center;
			span {
				display: inline-block;
				margin: 0 1.5em;
				height: 0.0625em;
				width: 2.5em;
				background-color: #fff;
			}
		}
	}
	&__right {
		width: 70%;
		&-head {
			h2 {
				color: #fff;
			}
			p {
				margin: 2.5em 0 4.5em;
			}
		}
	}
	@media (max-width: 1023px) {
		&-wrap {
			padding: 4.25em 2em;
		}
		&__left {
			display: none;
		}
		&__right {
			width: 100%;
			&-head {
				p {
					margin: 1.5em 0 0;
				}
			}
		}
	}
}

.second-list-blocks {
	&__body {
		display: flex;
		flex-flow: wrap;
	}
	&__item {
		width: 50%;
		margin: 4em 0 0;
		padding-right: 2em;
		&-img {
			width: 5.5em;
			height: 5.5em;
			position: relative;
			flex: 0 0 auto;
			margin: 0 0 4em;
			img {
				position: absolute;
				user-select: none;
				pointer-events: none;
			}
		}
		&-text {
			h5 {
				font-family: "Montserrat", sans-serif;
				font-weight: 600;
				font-size: 1.5em;
				line-height: 120%;
				color: #fff;
			}
			p {
				margin: 0.9em 0 0;
				font-size: 1em;
				line-height: 150%;
				color: #999fae;
			}
			h4 {
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 0.875em;
				width: max-content;
				line-height: 100%;
				text-transform: uppercase;
				background: #fa406d;
				padding: 0.5em 0.85em 0.375em;
				border-radius: 6.25em;
				color: #ffffff;
				margin: 0 0 1.5em;
			}
		}
		&:nth-child(1) {
			img {
				width: 14.1875em;
			}
		}
		&:nth-child(2) {
			img {
				width: 15.9375em;
				left: -7.5em;
			}
		}
		&:nth-child(3) {
			img {
				width: 12.5em;
				left: -3em;
			}
		}
		&:nth-child(4) {
			img {
				width: 9.5em;
				left: -2em;
			}
		}
	}
	@media (min-width: 579px) and (max-width: 1023px) {
		padding: 7.25em 2em 5.3125em;
		&__item {
			flex-direction: column;
			&-img {
				height: 5em;
			}
		}
	}
	@media (max-width: 578px) {
		padding: 7.25em 2em 5.3125em;
		&__item {
			width: 100%;
			flex-direction: column;
			padding: 0;
			&-img {
				height: 3em;
			}
		}
	}
}

// Third-Blocks ===========================================

.design-page {
	.third-blocks {
		&__description {
			width: 33%;
		}
		@media (max-width: 1023px) {
			&__description {
				width: 100%;
			}
		}
	}
}
.dev-logo-page {
	.third-blocks {
		&__description {
			width: 42%;
		}
		@media (max-width: 1023px) {
			&__description {
				width: 100%;
			}
		}
	}
}

.naming-page {
	padding-top: 13em;
	.third-blocks {
		&__description {
			width: 51%;
		}
		@media (max-width: 1023px) {
			&__description {
				width: 100%;
			}
		}
	}
	@media (max-width: 769px) {
		padding-top: 10em;
	}
}

.third-blocks {
	position: relative;
	&-wrap {
		position: relative;
		padding: 8.6875em 0 7.125em;
	}
	&__description {
		&-text {
			margin: 0 0 3em;
			h4 {
				font-weight: bold;
				font-size: 1.25em;
				line-height: 100%;
				text-transform: uppercase;
				margin: 0 0 1.5em;
			}
			p {
				font-size: 1em;
				line-height: 1.5em;
				margin: 1.5em 0 0;
			}
		}
		&-item {
			display: flex;
			align-items: center;
			:not(:last-child) {
				margin: 0 0 2em;
			}
			img {
				width: 3.5em;
				height: 3.5em;
			}
			p {
				font-family: "Montserrat", sans-serif;
				color: $accent;
				font-weight: 600;
				font-size: 1.25em;
				line-height: 120%;
				margin-left: 1.5em;
			}
		}
	}
	&__images {
		img {
			position: absolute;
			user-select: none;
			pointer-events: none;
			right: 0;
			top: 0;
		}
		.third-blocks-cube-1 {
			width: 16em;
			right: 25em;
			top: 20em;
		}
		.third-blocks-mobile-1 {
			width: 46.9375em;
			height: 45.375em;
		}
		.third-blocks-mobile-2 {
			width: 10.625em;
			height: 10.625em;
			z-index: 1;
			top: 5em;
			right: 10em;
		}
		.third-blocks-mobile-3 {
			width: 15.8125em;
			height: 9.5625em;
			top: 14em;
			right: 6em;
		}
		.third-blocks-tablet-1 {
			width: 50.3125em;
			right: -6em;
			top: -3em;
		}
		.third-blocks-elips-tablet-1 {
			width: 34.13625em;
			height: 34.09938em;
			right: 0;
			top: 0;
			z-index: -1;
		}
	}
	&-elips-mobile-1 {
		top: 21em;
		z-index: -1;
		right: 33em;
	}
	&-elips-mobile-2 {
		top: 35em;
		z-index: -1;
		right: 37em;
	}
	@media (max-width: 1023px) {
		&-wrap {
			padding: 4.6875em 2em 0;
		}
		&__description {
			width: 100%;
		}
		&__images {
			min-height: 30em;
			position: relative;
			.third-blocks-mobile-1 {
				position: relative;
			}
			.third-blocks-tablet-1 {
				position: relative;
				right: 3em;
			}
			.third-blocks-elips-tablet-1 {
				right: 10%;
			}
		}
		@media (max-width: 578px) {
			&-wrap {
				padding: 4.6875em 2em 0em;
			}
			&__images {
				min-height: 0;
			}
			.third-blocks-mobile-1 {
				width: 25.9375em;
				height: auto;
				left: -15%;
			}
			.third-blocks-mobile-2 {
				width: 6.625em;
				height: 6.625em;
				top: 2em;
				right: 0em;
			}
			.third-blocks-mobile-3 {
				width: 8.8125em;
				height: 5.5625em;
				top: 7.7em;
				right: -1.3em;
			}
			.third-blocks-cube-1 {
				width: 8em;
				right: 8em;
				top: 10em;
			}
			&-elips-mobile-1 {
				top: 23em;
				right: 13em;
			}
			&-elips-mobile-2 {
				top: 16em;
				z-index: -1;
				right: 17em;
			}
			.third-blocks-tablet-1 {
				right: 7em;
				top: 1em;
				width: 30.3125em;
			}
			.third-blocks-elips-tablet-1 {
				width: 20.13625em;
				height: 20.09938em;
				right: -1.5em;
				top: 3em;
			}
		}
	}
}

// Five-Blocks =========================================

.five-blocks {
	position: relative;
	&-wrap {
		padding: 14.6875em 0 6em;
		position: relative;
	}
	&__head {
		h4 {
			font-weight: bold;
			font-size: 1.25em;
			line-height: 100%;
			text-transform: uppercase;
			color: #fa406d;
			margin: 0 0 1.5em;
		}
		h2 {
			max-width: 16.5em;
		}
		p {
			margin: 2em 0 0;
			font-size: 1.125em;
			line-height: 1.6875em;
			max-width: 42em;
		}
	}
	&__images {
		position: absolute;
		right: -10em;
		top: -10em;
		img {
			width: 28.125em;
			user-select: none;
			pointer-events: none;
		}
	}
	&-elips-1 {
		left: 44.125em;
		top: 6.9875em;
	}
	&-elips-2 {
		right: 6.375em;
		top: 17.25em;
	}
	@media (max-width: 1023px) {
		&-wrap {
			padding: 4.6875em 1em 0;
		}
		&__images {
			right: -20em;
			img {
				z-index: -1;
				position: relative;
			}
		}
		&-elips-1 {
			left: 5em;
			top: -2em;
		}
		@media (max-width: 578px) {
			&-elips-1 {
				left: 3em;
				top: -2em;
			}
			&-elips-2 {
				right: 2.375em;
				top: 37.25em;
			}
		}
	}
}
.five-blocks-circle-1 {
	position: absolute;
	border-radius: 50%;
	border: 0.0625em solid #e3e6e9;
	z-index: -1;
	width: 31.25em;
	height: 31.25em;
	bottom: 0;
	left: 18em;
}
.five-blocks-circle-2 {
	position: absolute;
	border-radius: 50%;
	border: 0.0625em solid #e3e6e9;
	z-index: -1;
	width: 12em;
	height: 12em;
	bottom: 0;
	right: 19.1em;
}
.five-blocks-line {
	position: absolute;
	z-index: -1;
	width: 61.87188em;
	height: 0em;
	left: 24.9375em;
	top: 21.8625em;
	border-top: 0.0625em solid #e3e6e9;
	transform: rotate(-135deg);
}
@media (max-width: 1023px) {
	.five-blocks-circle-1,
	.five-blocks-circle-2,
	.five-blocks-line {
		display: none;
	}
}

// Six-Blocks =========================================
.six-list-blocks {
	padding: 7.25em 0 5.3125em;
	position: relative;
	&-wrap {
		position: relative;
	}
	&__body {
		display: flex;
		flex-flow: wrap;
	}
	&__item {
		width: 50%;
		padding: 2.5em 10em 1.25em;
		display: flex;
		&-img {
			width: 8.5em;
			position: relative;
			flex: 0 0 auto;
			margin: 0 4em 0 0;
			img {
				position: absolute;
				user-select: none;
				pointer-events: none;
			}
		}
		&-text {
			h5 {
				font-family: "Montserrat", sans-serif;
				font-weight: 600;
				font-size: 1.5em;
				line-height: 120%;
				color: #292930;
			}
			p {
				margin: 0.9em 0 0;
				font-size: 1em;
				line-height: 150%;
				color: #7c7e86;
			}
			h4 {
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 0.875em;
				width: max-content;
				line-height: 100%;
				text-transform: uppercase;
				background: #fa406d;
				padding: 0.5em 0.85em 0.375em;
				border-radius: 6.25em;
				color: #ffffff;
				margin: 0 0 1.5em;
			}
		}
		@media (min-width: 1024px) {
			&:nth-child(1) {
				border-top: 0.0625em solid #e3e6e9;
				border-right: 0.0625em solid #e3e6e9;
				padding: 7em 8.25em 7em 8.5em;
			}
			&:nth-child(2) {
				border-top: 0.0625em solid #5956e9;
				padding: 7em 8.25em 7em 5em;
			}
			&:nth-child(3) {
				border-right: 0.0625em solid #e3e6e9;
				border-bottom: 0.0625em solid #e3e6e9;
				border-top: 0.0625em solid #5956e9;
				padding: 7em 8.25em 7em 8.5em;
			}
			&:nth-child(4) {
				border-top: 0.0625em solid #e3e6e9;
				border-bottom: 0.0625em solid #e3e6e9;
				padding: 7em 8.25em 7em 5em;
			}
		}
		&:nth-child(1) {
			img {
				width: 18.1875em;
			}
		}
		&:nth-child(2) {
			img {
				width: 15.9375em;
				left: -4.5em;
			}
		}
		&:nth-child(3) {
			img {
				width: 12.5em;
				left: -1em;
			}
		}
		&:nth-child(4) {
			img {
				width: 21.5em;
				left: -10em;
			}
		}
	}
	@media (min-width: 579px) and (max-width: 1023px) {
		padding: 7.25em 2em 5.3125em;
		&__item {
			flex-direction: column;
			&-img {
				height: 10em;
			}
			&:nth-child(1) {
				border-right: 0.0625em solid #e3e6e9;
				padding: 2.5em 1.25em 1.25em 0;
			}
			&:nth-child(2) {
				padding: 2.5em 0 1.25em 1.25em;
			}
			&:nth-child(3) {
				border-top: 0.0625em solid #e3e6e9;
				border-right: 0.0625em solid #e3e6e9;
				padding: 2.5em 1.25em 1.25em 0;
			}
			&:nth-child(4) {
				border-top: 0.0625em solid #e3e6e9;
				padding: 2.5em 0 1.25em 1.25em;
			}
		}
	}
	@media (max-width: 578px) {
		padding: 4.25em 2em 5.3125em;
		&__item {
			width: 100%;
			padding: 0 0 3.5em;
			flex-direction: column;
			&-img {
				height: 10em;
			}
		}
	}
}

// Seven-blocks =========================================================

.design-page {
	.seven-blocks {
		background: linear-gradient(90deg, #ecf2f6 0%, rgba(236, 242, 246, 0) 70.31%);
		h2 {
			max-width: 10em;
		}
		&__images {
			&-elips {
				background: #fab8c4;
			}
		}
	}
}

.dev-logo-page {
	.seven-blocks {
		background: linear-gradient(90deg, #fffee2 0%, #f9e3e8 100%);
		&__images {
			&-elips {
				background: #fab8c4;
			}
		}
	}
	@media (max-width: 578px) {
		.seven-blocks {
			&-elips-2 {
				right: -1.625em;
				top: -4.75em;
			}
		}
	}
}

.naming-page {
	.seven-blocks {
		background: linear-gradient(90deg, #fffee2 0%, #f9e3e8 100%);
		&__images {
			&-elips {
				background: #fab8c4;
			}
		}
	}

	@media (max-width: 578px) {
		.seven-blocks {
			&-elips-2 {
				right: -0.625em;
				top: -4.75em;
			}
		}
	}
}

.brand-page {
	.seven-blocks {
		background: linear-gradient(90deg, #ecf2f6 0%, rgba(236, 242, 246, 0) 70.31%);
		h2 {
			max-width: 13em;
		}
		&__images {
			&-elips {
				background: #fab8c4;
			}
		}
	}
}

.form-style-page {
	.seven-blocks {
		background: linear-gradient(90deg, #e2faff 0%, #f9e3e8 100%);
		&__images {
			&-elips {
				background: #ffdc60;
			}
		}
	}

	@media (max-width: 578px) {
		.seven-blocks {
			&-elips-2 {
				right: -3.625em;
				top: -4.5em;
			}
		}
	}
}

.seven-blocks {
	border-radius: 2.5em;
	padding: 6.5em;
	position: relative;
	z-index: 1;
	&__description {
		p {
			margin: 2.5em 0 0;
			max-width: 37.5em;
		}
		button {
			margin: 3em 0 0;
		}
	}
	&__images {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		right: 0;
		top: 0;
		&-elips {
			position: absolute;
			width: 25.625em;
			height: 25.625em;
			border-radius: 50%;
			right: 5.5em;
			top: 11.0625em;
			z-index: -1;
		}
		.cloud-1 {
			right: 27em;
			bottom: 4em;
		}
	}
	&-elips-1 {
		left: 44.125em;
		top: 1.9875em;
	}
	&-elips-2 {
		right: 6.375em;
		top: -2.75em;
	}
	&-elips-3 {
		left: 32.25em;
		bottom: -1.375em;
	}
	&-elips-4 {
		right: 4.375em;
		top: 10.8125em;
	}
	@media (max-width: 1023px) {
		&__images {
			position: relative;
			min-height: 25em;
			right: 0;
			top: -7em;
		}
		@media (max-width: 578px) {
			padding: 4em 1.5em;
			&__description {
				button {
					width: 100%;
				}
			}
			&__images {
				top: 0;
				min-height: 20em;
				&-elips {
					width: 17em;
					height: 17em;
					right: 50%;
					top: 1em;
					transform: translate(50%);
				}
				.cloud-1 {
					width: 6.125em;
					height: 4.5em;
					right: 11em;
					bottom: -2em;
				}
			}
			&_elips-1 {
				left: -3em;
				top: 14.9875em;
			}
			&-elips-3 {
				left: 13em;
			}
			&-elips-4 {
				right: 1.375em;
				top: 30.8125em;
			}
		}
	}
}
.thumbs-hand {
	right: -9em;
	top: 7em;
	width: 35em;
	position: absolute;
	user-select: none;
	pointer-events: none;
	@media (max-width: 578px) {
		width: 18em;
		top: 3em;
		right: -4em;
	}
}
.color-pad {
	right: 0em;
	top: 8em;
	width: 47em;
	position: absolute;
	user-select: none;
	pointer-events: none;
	@media (max-width: 1023px) {
		right: -11em;
		top: 0em;
		width: 60em;
		@media (max-width: 578px) {
			width: 30em;
			top: 0;
			right: -5em;
		}
	}
}

// Eight-list-blocks =========================================================

.dev-logo-page {
	.list-blocks__head {
		h2 {
			max-width: 15em;
		}
	}
}

.eight-list-blocks {
	.list-blocks {
		padding: 11.8125em 0 5.3125em;
	}
	.cloud-1 {
		width: 9.03625em;
		height: 6.23687em;
		right: 40em;
		top: 5em;
	}
	.cloud-2 {
		right: 6.6875em;
		top: 7em;
		width: 4.53188em;
		height: 3.10188em;
	}
	@media (min-width: 1024px) {
		.list-blocks__item {
			&:nth-child(2) {
				border-top: 0.0625em solid #ffdc60;
			}
			&:nth-child(3) {
				border-top: 0.0625em solid #ffdc60;
			}
		}
	}
	@media (max-width: 1023px) {
		.list-blocks {
			padding: 11.8125em 1em 5.3125em;
		}
		.cloud-2 {
			right: 16.6875em;
		}
		@media (max-width: 578px) {
			.list-blocks {
				padding: 11.8125em 1em 5.3125em;
			}
			.cloud-1 {
				width: 7.03625em;
				height: 5.23687em;
				right: 10em;
				top: 1em;
			}
			.cloud-2 {
				right: 16.6875em;
			}
		}
	}
}

.calendar-design {
	width: 37.5em;
	position: absolute;
	right: -6em;
	top: -10em;
	user-select: none;
	pointer-events: none;
	@media (max-width: 1023px) {
		width: 22.5em;
		right: -6em;
		top: -10em;
		@media (max-width: 578px) {
			width: 17.5em;
		}
	}
}

//! Create-page =================================

.create-page {
	&.content {
		padding-top: 10.5em;
	}
}

.create-keyboard-block {
	margin: 4.5em 0 0;
}
.create-list-components {
	margin: 4.5em 0 0;
	position: relative;
	.elipses {
		z-index: -1;
	}
	.elips-1 {
		width: 5.1875em;
		height: 5.1875em;
		left: 1em;
		top: 3em;
	}
	.elips-2 {
		width: 13.0625em;
		height: 13.0625em;
		right: 4.125em;
		bottom: 2.5em;
	}
	@media (max-width: 1023px) {
		.elips-1 {
			left: -3em;
		}
		.elips-2 {
			right: -4.875em;
			bottom: -9.5em;
		}
	}
}

.create-main-block-illustration {
	width: 44em;
	right: -3em;
	left: auto;
	top: -2em;
	position: absolute;
	user-select: none;
	pointer-events: none;
	animation: levitation 12s linear infinite;
	@media (max-width: 1023px) {
		bottom: -9em;
		top: auto;
		right: 13%;
		width: 37em;
		@media (max-width: 578px) {
			width: 20.0625em;
			left: 1em;
			bottom: -2em;
		}
	}
}
.create-main-block-castle {
	top: 8.375em;
	left: -3em;
	position: absolute;
	user-select: none;
	pointer-events: none;
	animation: levitation 12s linear infinite reverse;
	width: 6.1875em;
	@media (max-width: 578px) {
		top: -3.625em;
		left: -1em;
	}
}
.create-main-block {
	position: relative;
	margin: 0 0 5em;
	.container {
		position: relative;
	}
	.back-dark {
		padding: 6em;
		&::before {
			background: linear-gradient(190.96deg, #484b57 2.75%, #232326 91.29%);
			border-radius: 3em;
		}
	}
	.main-block__info {
		h1 {
			color: #fff;
			.dot-pink {
				display: none;
			}
		}
		&-links {
			.btn-opacity {
				color: #fff;
				background-color: transparent;
				border: 0.1em solid #fff;
			}
		}
	}
	.cube-1 {
		width: 5.1875em;
		left: 50%;
		top: 0;
		transform: rotate(78.66deg);
		animation: levitation 5s linear infinite reverse;
	}
	.cube-2 {
		width: 3.75em;
		top: 7.375em;
		left: 43%;
		animation: levitation 5s linear infinite;
	}
	.cube-3 {
		right: 15%;
		width: 6.6875em;
		bottom: -2em;
		animation: levitation 6s linear infinite reverse;
	}
	@media (max-width: 1023px) {
		.main-block__images {
			min-height: 30em;
		}
		.cube-2 {
			right: 0;
			top: 2em;
			left: auto;
		}
		.cube-3 {
			right: 0;
		}
		@media (max-width: 578px) {
			.back-dark {
				padding: 3.5625em 1em;
			}
			.main-block__images {
				min-height: 20em;
			}
			.main-block__info {
				&-links {
					.btn-opacity {
						width: 100%;
						justify-content: center;
					}
				}
			}
			.cube-1 {
				top: -2em;
			}
			.cube-2 {
				right: -1.5em;
				top: 10em;
			}
			.cube-3 {
				right: -2em;
				bottom: -5em;
			}
		}
	}
}

.create-sites {
	position: relative;
	&-wrap {
		position: relative;
		padding: 8.5em 0 0;
		margin: 0 0 -2em;
		.elips-4 {
			right: 1em;
			background: #fed0da;
			bottom: 5.375em;
		}
		.cube-1 {
			width: 5.1875em;
			right: 16%;
			top: 15.75em;
		}
		.cube-2 {
			left: -1.5em;
			width: 7.1875em;
			bottom: 35%;
			z-index: -1;
			animation: levitation 6s linear infinite reverse;
		}
	}
	&__body {
		margin: 5em -1em 0;
		display: flex;
		flex-wrap: wrap;
	}
	&__card {
		padding: 3em 2em 17.9375em;
		border: 0.1em solid $textcolor;
		border-radius: 2em;
		height: 100%;
		width: 100%;
		background: #fff;
		position: relative;
		transition: background 0.3s ease-out;
		&-wrap {
			width: 33.3%;
			padding: 0 1em;
			margin: 0 0 2em;
		}
		h6 {
			margin: 0 0 1em;
			transition: color 0.3s ease-out;
		}
		ul {
			li {
				margin: 0 0 0.7em;
				padding: 0 0.8125em 0 1.7em;
				font-size: 1.125em;
				color: $textcolor;
				position: relative;
			}
		}
		&-bottom {
			position: absolute;
			bottom: 2em;
			left: 2em;
			right: 2em;
			button {
				display: block;
				width: 100%;
				transition: background-color 0.3s ease-out;
			}
			.btn {
				background: #292930;
				border-radius: 1em;
				text-align: center;
				padding: 1.5em 0;
				color: #fff;
				margin: 2.5em 0 0;
			}
		}
		&-value {
			font-family: "Montserrat", sans-serif;
			font-weight: 600;
			font-size: 1.75em;
			line-height: 120%;
			letter-spacing: -0.025em;
			margin: 0 0.3em 0;
			color: #292930;
			transition: color 0.3s ease-out;
		}
		&-price {
			margin: 0 0 1em;
		}
		&-dollar {
			position: relative;
			top: -0.5em;
			left: -0.5em;
		}
		&:hover {
			background: $accent;
			h6 {
				color: #fff;
			}
			.line-cube {
				&::before,
				&::after {
					background: #fff;
				}
			}
			.create-sites__card-value {
				color: #fff;
			}
			.create-sites__card-bottom {
				.btn {
					background-color: $pink;
				}
			}
		}
	}
	.elipses {
		z-index: -1;
	}
	.elips-1 {
		left: -2em;
		top: 3em;
		border: 0.0625em solid #e3e6e9;
	}
	.elips-2 {
		width: 23.375em;
		height: 23.4375em;
		border: 0.0625em solid #e3e6e9;
		right: -8.875em;
		top: 0;
		animation: levitation 6s linear infinite reverse;
	}
	.elips-3 {
		right: 22%;
		top: -4em;
		background: #fed0da;
	}
	@media (max-width: 1023px) {
		&-wrap {
			padding: 8.5em 1em 0;
			.elips-4 {
				bottom: -1.625em;
			}
			.cube-2 {
				bottom: -2em;
			}
		}
		&__card {
			&-wrap {
				width: 50%;
			}
		}
		@media (max-width: 578px) {
			&-wrap {
				padding: 7em 1em 0;
				.cube-1 {
					right: -1em;
				}
				.cube-2 {
					bottom: 45%;
				}
			}
			&__body {
				margin: 2.5em -1em 0;
			}
			&__card {
				&-wrap {
					width: 100%;
				}
			}
		}
	}
}

// ! App-create-page ======================================

.app-create-page {
	.seo-main-block-illustration {
		width: 39.0625em;
		right: -3em;
		left: auto;
		top: -2em;
	}
}
