.email-main-block {
	position: relative;
	padding: 0 0 14em;
	&::before {
		content: "";
		left: -1em;
		right: -1em;
		bottom: 0;
		top: -15em;
		position: absolute;
		z-index: -10;
		background: linear-gradient(169.89deg, #2f3036 -16.94%, #232326 92.85%);
	}
	.main-block__info {
		h1 {
			font-size: 4em;
			line-height: 112%;
			color: #fff;
			max-width: 10em;
			.dot-pink {
				display: none;
			}
		}
		&-links {
			.btn-opacity {
				background: transparent;
				color: #fff;
				border: 0.0625em solid #e3e6e9;
				margin-left: 1em;
			}
		}
	}
	.cube-1 {
		width: 5.1875em;
		left: 40%;
		top: -5em;
		animation: levitation 7s linear infinite;
	}
	.cube-2 {
		width: 3.75em;
		bottom: 7.625em;
		right: 40%;
		animation: levitation 6s linear infinite reverse;
	}
	.cube-3 {
		width: 6.6875em;
		right: 1.5em;
		bottom: 2em;
		animation: levitation 6s linear infinite;
	}
	.lightning {
		left: auto;
		right: 3%;
		top: -5em;
	}
	.airplane-1,
	.airplane-2,
	.castle {
		user-select: none;
		pointer-events: none;
		position: absolute;
	}
	.airplane-1 {
		width: 8.6875em;
		left: 53%;
		top: -7em;
		animation: levitation 6s linear infinite;
	}
	.airplane-2 {
		width: 13.75em;
		bottom: 17em;
		right: 0;
		animation: levitation 6s linear infinite reverse;
	}
	.castle {
		width: 6.25em;
		left: 1em;
		top: 4em;
		animation: levitation 7s linear infinite;
	}
	@media (max-width: 1023px) {
		.castle {
			display: none;
		}
		.main-block__info {
			h1 {
				@include fluidFontSize(32px, 64px, 320px, 1023px);
			}
		}
		@media (max-width: 578px) {
			.main-block__images {
				min-height: 20em;
			}
			.main-block__info {
				&-links {
					.btn-opacity {
						margin-left: 0;
						display: block;
						width: 100%;
					}
				}
			}
			.airplane-1 {
				left: 57%;
				top: -5em;
			}
			.airplane-2 {
				width: 9.75em;
				bottom: 19em;
				right: 44%;
			}
			.cube-2 {
				right: 0;
			}
		}
	}
}
.email-main-block-illustration {
	width: 43em;
	position: absolute;
	user-select: auto;
	pointer-events: none;
	right: 6em;
	top: -7em;
	animation: levitation 12s linear infinite;
	@media (max-width: 1023px) {
		width: 47em;
		right: 12%;
		top: 3em;
		@media (max-width: 578px) {
			width: 40em;
			right: -3em;
			top: 0em;
		}
	}
}

.email-calendar-cloud {
	margin: 5.75em 0 0;
	.secondary-block {
		background: #292930;
		border-radius: 2.5em;
		padding: 10.75em 6em;
		&__images {
			width: 75%;
		}
		&__info {
			h2 {
				color: #fff;
			}
			&-links {
				.btn-opacity {
					color: #fff;
					background-color: transparent;
					border: 0.1em solid #fff;
				}
			}
		}
	}
	@media (max-width: 1023px) {
		.secondary-block {
			&__images {
				width: 100%;
			}
		}
		@media (max-width: 578px) {
			.secondary-block {
				padding: 4.75em 0;
				&-wrap {
				}
				&__info {
					&-links {
						.btn-opacity {
							width: 100%;
							justify-content: center;
						}
					}
				}
			}
		}
	}
	.calendar-cloud-image {
		position: absolute;
		user-select: none;
		pointer-events: none;
		width: 43.4375em;
		right: 2em;
		top: -2em;
		@media (max-width: 1023px) {
			width: 32.4375em;
			right: 9em;
			top: 2em;
			@media (max-width: 578px) {
				right: -1.4em;
			}
		}
	}
}

.email-mail {
	.secondary-block {
		&__info {
			ul {
				max-width: 39.75em;
			}
		}
	}
	.calendar-cloud-image {
		position: absolute;
		user-select: none;
		pointer-events: none;
		width: 43.4375em;
		right: -6em;
		top: -9em;
		@media (max-width: 1023px) {
			width: 32.4375em;
			right: 9em;
			top: 2em;
			@media (max-width: 578px) {
				right: -1.4em;
			}
		}
	}
}
