.container__form {
	position: relative;
	@media (max-width: 1023px) {
		padding: 0 1em 12em;
	}
}
.dot-pink {
	color: $pink;
}

.original-page-request {
	position: relative;
	margin: 2.8125em 0 4em;
}

.request {
	background: #f4faff;
	border-radius: 2em;
	padding: 4.5625em 5.9375em 3.625em;
	position: relative;
	.h2-64 {
		padding-right: 2em;
		.dot-pink {
			margin-left: -0.3em;
		}
	}
	&__body {
		display: flex;
		justify-content: space-between;
		margin: 2.5em 0 0;
	}
	&__form {
		width: 28.125em;
		form {
			display: flex;
			flex-direction: column;
		}
		&-input {
			margin: 0 0 1em;
			position: relative;
			img {
				width: 1.5em;
				height: 1.5em;
				position: absolute;
				left: 1em;
				left: 1.75em;
				top: 50%;
				transform: translateY(-50%);
			}
			input {
				padding: 1.6em 1.5em 1.5em 4em;
				border: 0.1em solid #fed0da;
				box-sizing: border-box;
				border-radius: 1em;
				font-family: "Poppins", sans-serif;
				font-style: normal;
				font-weight: normal;
				font-size: 1em;
				line-height: 150%;
				color: #999fae;
				width: 100%;
				&::placeholder {
					color: #999fae;
				}
			}
		}
		&-textarea {
			margin: 0 0 0.5em;
			textarea {
				resize: vertical;
				width: 100%;
				min-height: 7em;
				height: 9em;
				max-height: 23.4375em;
				padding: 1.5em;
				border-radius: 1em;
				color: #999fae;
				border: 0.1em solid #fed0da;
				&::placeholder {
					color: #999fae;
				}
			}
		}
		&-privacy {
			margin: 1em 0 0;
			p {
				text-align: center;
				a {
					text-decoration: underline;
					color: $textcolor;
					&:hover {
						color: $grey-light;
					}
				}
			}
		}
		.btn-pink {
			width: 100%;
		}
	}
	&__contacts {
		width: 47%;
		padding: 2.5em 0 0;
		&-phone,
		&-mail {
			margin: 0 0 2em;
			a {
				color: #525260;
				font-family: Montserrat;
				font-weight: 600;
				font-size: 2.5em;
				line-height: 110%;
			}
			p {
				margin-bottom: 1em;
			}
		}
		&-social {
			a {
				display: inline-block;
				width: 2.625em;
				height: 2.625em;
				img {
					width: 100%;
				}
				&:not(:last-child) {
					margin-right: 1.5em;
				}
			}
			p {
				margin-bottom: 1em;
			}
		}
	}
	@media (max-width: 1023px) {
		&__contacts {
			display: none;
		}
		&__form {
			width: 100%;
		}
		@media (max-width: 578px) {
			padding: 4.5em 2em;
			.h2-64 {
				text-align: center;
				padding-right: 0;
				font-size: 1.5em;
			}
		}
	}
}
.img-chat-l-form {
	position: absolute;
	user-select: none;
	pointer-events: none;
	right: -3em;
	bottom: -5em;
	width: 29em;
	height: 30.0625em;
}
.form-cube-3 {
	width: 5.22813em;
	height: 4.84625em;
	right: 7.25em;
	top: 2.4375em;
	transform: rotate(23.68deg);
	@media (max-width: 578px) {
		right: auto;
		left: 1em;
		top: -2em;
	}
}
.form-cube-4 {
	width: 2.9025em;
	height: 2.69em;
	right: 2.375em;
	top: 7.0875em;
	transform: rotate(49.28deg);
	@media (max-width: 578px) {
		display: none;
	}
}
.form-cube-4-s {
	width: 1.63625em;
	height: 1.51687em;
	right: 7.8125em;
	top: 11.45375em;
	transform: rotate(-19.37deg);
	@media (max-width: 578px) {
		display: none;
	}
}

.mini-form {
	.request {
		background: #fff2f4;
		&__body {
			flex-direction: column-reverse;
		}
		&__form {
			width: 100%;
			.form {
				flex-direction: row;
				.btn {
					width: max-content;
					height: auto;
				}
			}
			&-input {
				margin: 0 1em 0 0;
				width: 19em;
				input {
					padding: 1.3em 1.5em 1.2em 4em;
				}
			}
			&-textarea {
				display: none;
			}
			&-privacy {
				p {
					text-align: left;
				}
			}
		}
		&__contacts {
			width: 100%;
			display: flex;
			padding: 0;
			&-social {
				display: none;
			}
			&-phone,
			&-mail {
				p {
					display: none;
				}
				a {
					color: #fa406d;
					font-weight: 600;
					font-size: 1.75em;
					line-height: 120%;
					letter-spacing: -0.025em;
				}
			}
			&-phone {
				position: relative;
				&::after {
					content: "/";
					font-size: 1.75em;
					margin: 0 0.3em;
					display: inline-block;
					color: #fa406d;
				}
			}
		}
	}
	@media (max-width: 1023px) {
		.container__form {
			padding: 0 1em 2em;
		}
		.request {
			h2 {
				padding-right: 0;
				text-align: center;
			}
			&__contacts {
				flex-direction: column;
				text-align: center;
				&-phone {
					margin: 0;
					&::after {
						display: none;
					}
				}
			}
			&__form {
				.form {
					flex-direction: column;
					align-items: center;
				}
				&-input {
					margin: 0 0em 1em 0;
					width: 100%;
					max-width: 25em;
				}
				&-privacy {
					p {
						text-align: center;
					}
				}
			}
		}
		@media (max-width: 578px) {
			.request {
				&__contacts {
					&-phone,
					&-mail {
						a {
							font-size: 1.3em;
						}
					}
				}
			}
		}
	}
}

.map-request {
	display: flex;
	&-wrap {
		background: #f4faff;
		padding: 10.1875em 0;
		margin: 0;
		&::before,
		&::after {
			content: "";
			position: absolute;
			border-radius: 50%;
		}
		&::before {
			background: #ffdc60;
			width: 12em;
			height: 12em;
			left: 50%;
			top: 4.8125em;
			animation: levitation 4s linear infinite;
		}
		&::after {
			background: #badeff;
			bottom: -4em;
			left: -6.875em;
			width: 15.625em;
			height: 15.625em;
			animation: levitation 5s linear infinite reverse;
		}
	}
	&__head {
		h2 {
			margin: 0 0 1em;
		}
	}
	&__map {
		&-img {
			position: absolute;
			width: 45.9375em;
			right: 0;
			top: 9em;
		}
	}
	@media (max-width: 1023px) {
		flex-direction: column;
		padding: 0 1em;
		&-wrap {
			&::before {
				width: 10em;
				height: 10em;
				left: 70%;
				top: -1.1875em;
			}
		}
		&__map {
			&-img {
				width: 100%;
				position: relative;
				right: 1em;
				top: 0;
			}
		}
	}
}
