.header {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	&__container {
		max-width: 77.5em;
		margin: 0 auto;
	}
}

// текст контейнера сделаем 1084px а контентной области 1310px

.icon-cover-svg {
	width: 2.5em;
	height: 2.65563em;
}
a {
	font-size: 1em;
}
