// Main-block

.main-block {
	&__info {
		p {
			max-width: 33.22em;
			font-size: 1.125em;
			margin: 2em 0 3em;
		}
		&-links {
			> a {
				margin-left: 1.75em;
				color: $accent;
				display: inline-flex;
				align-items: center;
				transition: color 0.2s ease-out;
				font-weight: 500;
				img {
					margin: -0.3em 1em 0 0;
					user-select: none;
					width: 1em;
					height: 1em;
				}
				&:hover {
					color: $textcolor;
				}
			}
			.btn-black-gradient {
				margin: 0 1.5em 0 0;
			}
		}
	}
	@media (max-width: 1023px) {
		&__info {
			padding: 0 1em;
		}
		&__images {
			width: 100%;
			min-height: 25em;
			font-size: 0.7em;
			position: relative;
		}
	}
	@media (max-width: 578px) {
		&__info {
			p {
				margin: 1.5em 0;
			}
			&-links {
				display: flex;
				flex-direction: column;
				align-items: center;
				button {
					width: 100%;
					margin: 0 0 1em;
				}
				a {
					margin-left: 0;
				}
				.btn-black-gradient {
					margin: 0 0 1em;
				}
			}
		}
	}
}

// Secondary-block ============================================

.secondary-block {
	display: flex;
	position: relative;
	&-wrap {
		padding: 8.25em 0 7.8125em;
		position: relative;
	}
	&__info {
		p {
			max-width: 39em;
			font-size: 1.125em;
			margin: 1.5em 0 0;
		}
		&-links {
			margin: 3em 0 0;
			> a {
				margin-left: 1.75em;
				color: $accent;
				display: inline-flex;
				align-items: center;
				transition: color 0.2s ease-out;
				font-weight: 500;
				img {
					margin: -0.3em 1em 0 0;
					user-select: none;
					width: 1em;
					height: 1em;
				}
				&:hover {
					color: $textcolor;
				}
			}
			.btn {
				margin: 0 0.75em 0 0;
			}
		}
	}
	&__images {
		width: 35%;
	}
	@media (max-width: 1023px) {
		flex-direction: column;
		&__info {
			padding: 0 1em;
		}
		&__images {
			width: 100%;
			min-height: 25em;
			font-size: 0.7em;
			position: relative;
		}
	}
	@media (max-width: 578px) {
		&__info {
			p {
				margin: 1.5em 0 0;
			}
			&-links {
				display: flex;
				flex-direction: column;
				align-items: center;
				button {
					width: 100%;
					margin: 0 0 1em;
				}
				a {
					margin-left: 0;
					width: 100%;
					text-align: center;
					display: block;
				}
				.btn {
					margin: 0 0 1em;
				}
			}
		}
	}
}

// Secondary-block-dark

.secondary-block-dark {
	background: #292930;
	border-radius: 2.5em;
	padding: 9em 6em;
	.secondary-block__info {
		h2 {
			color: #fff;
		}
		&-links {
			.btn-opacity {
				color: #fff;
				background-color: transparent;
				border: 0.1em solid #fff;
			}
		}
	}
	@media (max-width: 1023px) {
		padding: 9em 0em;
	}
}

// Blog-slider ================================================

.blog-slider {
	margin-top: 6em;
	&-wrap {
		margin: 7.3125em 0;
		position: relative;
		.cube-1 {
			width: 3em;
			left: 3.0275em;
			top: 14em;
		}
		.cube-2 {
			width: 5.125em;
			right: 3.0275em;
			top: 31.625em;
		}
		.line-1-pink {
			width: 50.13875em;
			height: 50.77188em;
			right: 8.10125em;
			top: 3.6175em;
		}
		.line-2-pink {
			width: 49.13813em;
			height: 47.20313em;
			left: -11.1575em;
			top: 24.02563em;
		}
	}
	&__control {
		display: flex;
		justify-content: space-between;
	}
	&__heading {
		h2 {
			font-size: 4.5em;
			font-weight: bold;
			line-height: 100%;
		}
		span {
			color: $pink;
		}
	}
	&__slider-navigation {
		display: flex;
		.blog-slider-prev,
		.blog-slider-next {
			margin-top: 1em;
		}
		.blog-slider-prev {
			margin-right: 1em;
		}
	}
	&__slide {
		padding: 2em;
		&:nth-child(even) {
			.blog-slide {
				&__head {
					background-color: #ffeddc;
				}
			}
		}
	}
	@media (max-width: 1023px) {
		margin-top: 3em;
		&-wrap {
			margin: 3.5em 0;
			.line-1-pink {
				top: -20%;
			}
			.line-2-pink {
				top: 0;
			}
		}
		&__head {
			padding: 0 1em;
		}
		@media (max-width: 578px) {
			&__slide {
				padding: 0;
			}
			&__heading {
				h2 {
					@include fluidFontSize(34px, 72px, 320px, 1023px);
				}
			}
			&__control {
				flex-direction: column;
				align-items: center;
			}
		}
	}
}
.blog-slide {
	display: flex;
	flex-direction: column;
	&__head {
		background-repeat: no-repeat;
		background-position: center;
		width: 30.6875em;
		height: 23.75em;
		background-color: #fee2e6;
		border-radius: 1.5em;
		position: relative;
		.btn-disabled {
			position: absolute;
			bottom: 2em;
			right: -1.2em;
		}
		&-articles {
			display: flex;
			flex-direction: column;
			position: relative;
			left: -1.125em;
			top: 1.75em;
		}
		&-article {
			display: block;
			text-transform: uppercase;
			font-weight: bold;
			font-family: $montserrat;
			color: #fff;
			width: max-content;
			text-align: center;
			line-height: 100%;
			font-size: 0.875em;
			background-color: $accent;
			border-radius: 1.25em;
			padding: 0.8125em 1.5625em;
			&:not(:last-child) {
				margin-bottom: 0.5em;
			}
		}
	}
	&__text {
		margin: 2.5em 0 0;
		h6 {
			font-weight: 600;
			font-size: 1.75em;
			line-height: 120%;
			letter-spacing: -0.025em;
			margin-bottom: 0.7em;
		}
		p {
			color: #606060;
			line-height: 1.5em;
		}
	}
	@media (max-width: 1023px) {
		padding: 1.5em;
		&__head {
			max-width: 30.6875em;
			width: 100%;
		}
		@media (max-width: 578px) {
			&__text {
				h6 {
					font-size: 1.5em;
				}
			}
		}
	}
}

// Mini-Banner ============================================

.mini-banner {
	background: #fff2f4;
	border-radius: 1.5em;
	padding: 3em 6em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__text {
		p {
			font-family: "Montserrat", sans-serif;
			font-weight: 600;
			font-size: 1.75em;
			line-height: 110%;
			color: $accent;
			margin-bottom: 0.3em;
		}
		span {
			font-size: 1.125em;
			line-height: 1.6875em;
			color: $accent;
		}
	}
	@media (max-width: 1023px) {
		flex-direction: column;
		&__text {
			margin: 0 0 1em;
			p {
				text-align: center;
			}
		}
		@media (max-width: 578px) {
			padding: 2.5em 2em;
			&__btn {
				width: 100%;
				.btn {
					width: 100%;
					margin-top: 1em;
				}
			}
		}
	}
	&-black-bg {
		.mini-banner {
			background: $accent;
			&__text {
				p {
					color: #fff;
				}
			}
		}
	}
	&-blue-bg {
		.mini-banner {
			background: #f4faff;
		}
	}
}

// Faq ======================================================

.faq {
	&__container {
		background: #242427;
		border-radius: 2em;
		max-width: 81.875em;
		margin: 0 auto;
		padding: 7em 0 10em 0;
		position: relative;
	}
	&__content {
		max-width: 51.5625em;
		margin: 0 auto;
		position: relative;
		z-index: 1;
	}
	&__head {
		text-align: center;
		img {
			width: 15.25em;
			height: 7.6875em;
			user-select: none;
			pointer-events: none;
		}
		h2 {
			color: #fff;
			margin: 0.8em 0 0;
		}
	}
	&__list {
		ul {
			margin: 6em 0 0;
			li {
				border-radius: 1em;
				transition: background 0.3s ease-out;
				padding: 2.5em 2.5em 1em;
				.accordion__control {
					display: flex;
					justify-content: space-between;
					p {
						font-weight: 600;
						font-size: 1.125em;
						line-height: 1.5em;
						color: #7c7e86;
						margin-bottom: 0;
						padding-right: 0.5em;
						transition: color 0.3s ease-out;
					}
					.accordion__icon {
						width: 0.5em;
						height: 0.5em;
						margin-top: 0.3em;
						border-bottom: 0.15em solid #fff;
						border-right: 0.15em solid #fff;
						transform: rotate(45deg);
						transition: transform 0.1s ease-out;
					}
					&:hover {
						p {
							color: $grey-light;
						}
					}
				}
				.accordion__content {
					transition: max-height 0.3s ease-out;

					p {
						margin-bottom: 0;
					}
				}
				&.open {
					background: rgba(41, 41, 48, 0.7);
					margin: 0 0 1em;
					.accordion__control {
						padding: 0 0 1em;
						p {
							color: #fff;
						}
						.accordion__icon {
							transform: rotate(225deg);
						}
					}
					.accordion__content {
						padding: 0;
						p {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	@media (max-width: 578px) {
		&__container {
			padding: 3.125em 0 7.8125em;
		}
		&__list {
			ul {
				margin: 2.5em 0 0;
			}
		}
	}
}

.line-2 {
	height: 30.28063em;
	width: 49.03em;
	bottom: 8.3125em;
}
.line-2-2 {
	height: 40.125em;
	width: 51.1875em;
	right: 0.5em;
	top: 187px;
}
.faq-cube-1 {
	width: 6.33938em;
	height: 6.0225em;
	top: 9.375em;
	left: 9.9375em;
	transform: rotate(-15deg);
}
.faq-cube-2 {
	width: 3.24187em;
	height: 3.07813em;
	//transform: matrix(0.21, 0.98, 0.98, -0.21, 0, 0);
	top: 18.875em;
	right: 11.5625em;
}
.faq-cube-3 {
	filter: blur(0.25em);
	width: 4.22438em;
	height: 3.91625em;
	left: 13.25em;
	bottom: 14.5em;
}
.faq-cube-4 {
	width: 7.075em;
	height: 6.70437em;
	right: 4.5em;
	bottom: 7.875em;
}
@media (max-width: 578px) {
	.line-2-2 {
		right: -6.375em;
	}
	.faq-cube-1 {
		left: auto;
		right: -2.5em;
	}
	.faq-cube-2 {
		top: 37.1875em;
		right: auto;
		left: -1.5em;
	}
	.faq-cube-3 {
		display: none;
	}
	.faq-cube-4 {
		bottom: 1.25em;
		right: 0;
	}
}

// List-components ================================================

.list-components {
	position: relative;
	&-wrap {
		padding: 3em 1em;
	}
	&__head {
		p {
			max-width: 42.125em;
			margin: 0.875em 0;
		}
	}
	&__body {
		display: flex;
		flex-flow: wrap;
		margin: 4.5em 0 0;
	}
	&__point {
		width: 50%;
		padding-left: 7.5em;
		padding-right: 3em;
		position: relative;
		&-img {
			width: 5.625em;
			height: 5.625em;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 2em 0 0;
			position: absolute;
			left: 0;
			top: -1em;
			img {
				width: 100%;
				user-select: none;
				pointer-events: none;
			}
		}
		&-title {
			display: flex;
			h3 {
				font-weight: 600;
				font-size: 1.75em;
				line-height: 120%;
				letter-spacing: -0.025em;
			}
		}
		&-text {
			margin: 0.8125em 0 2.75em;
			max-width: 25.1875em;
			p {
				margin-bottom: 0;
			}
		}
	}
	@media (max-width: 1023px) {
		&__point {
			padding-left: 6em;
			padding-right: 1em;
		}
		@media (max-width: 578px) {
			&__body {
				flex-direction: column;
				margin: 2.5em 0 0;
			}
			&__point {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				&:not(:last-child) {
					margin: 0 0 2.5em;
				}
				&-title {
					max-height: 3em;
					h3 {
						margin-left: 0.3em;
						@include fluidFontSize(20px, 28px, 320px, 578px);
					}
				}
				&-img {
					width: 3.625em;
					height: 3.625em;
					position: relative;
					margin: 0 0 0 -0.5em;
				}
				&-text {
					margin: 0;
				}
			}
		}
	}
}

// Quote ======================================================================

.quote {
	&-wrap {
		background: #f4faff;
		padding: 3.625em 1em;
		position: relative;
		margin: 8em 0;
		&.qoute-pink-bg {
			background: #fff2f4;
		}
	}
	h2 {
		text-align: center;
		max-width: 26em;
		margin: 0 auto;
	}
}

.quote-img-1 {
	width: 7.75em;
	height: 7.75em;
	position: absolute;
	user-select: none;
	pointer-events: none;
	left: 3.4375em;
	bottom: -2.5em;
}
.quote-img-2 {
	width: 6.125em;
	height: 6.125em;
	position: absolute;
	user-select: none;
	pointer-events: none;
	right: 3.875em;
	top: -2.25em;
}
@media (max-width: 1023px) {
	.quote-img-1 {
		bottom: -4em;
	}
	@media (max-width: 578px) {
		.quote-img-1 {
			width: 4em;
			height: 4em;
			left: 1.625em;
			bottom: -2.5em;
		}
		.quote-img-2 {
			width: 3em;
			height: 3em;
			position: absolute;
			right: 1.5em;
			top: -1.25em;
		}
	}
}

// Steps ==========================================================

.steps {
	padding: 0 6em 10.3125em;
	&__head {
		margin: 0 0 4.5em;
	}
	&__body {
		position: relative;
	}
	&__cell {
		display: flex;
		padding: 0 0 3.5em;
		position: relative;
		&:not(:last-child) {
			&::after {
				top: 3em;
				bottom: -1em;
				border-right: 0.15em dashed #999fae;
				left: 2em;
				position: absolute;
				z-index: -1;
				content: "";
			}
		}
		&-number {
			font-family: "Montserrat", sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 1.75em;
			line-height: 120%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			flex: 0 0 auto;
			letter-spacing: -0.025em;
			color: #fa406d;
			background: #fff2f4;
			border-radius: 0.5em;
			width: 2.381em;
			height: 2.381em;
		}
		&-text {
			margin: 0 0 0 2em;
			p {
				margin: 0.625em 0 0;
				font-size: 1.125em;
				line-height: 1.6875em;
				color: #7c7e86;
				max-width: 43.75em;
			}
		}
	}
	@media (max-width: 1023px) {
		@media (max-width: 578px) {
			padding: 0 0.8em 9.5em;
			&__cell {
				flex-direction: column;
				position: relative;
				padding: 0;
				&::before {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
				}
				&::after {
					display: none;
				}
				&-number {
					position: absolute;
					top: -1.3em;
					left: 0.6em;
				}
				&-text {
					margin: 0;
					padding: 3.5em 1em 5.5em;
					h6 {
						font-size: 1.5em;
					}
					p {
						font-size: 1em;
					}
				}
				&:nth-child(1) {
					&::before {
						border-top: 0.15em dashed #999fae;
						border-bottom: 0.15em dashed #999fae;
						border-right: 0.15em dashed #999fae;
						border-top-right-radius: 3.5em;
						border-bottom-right-radius: 3.5em;
						left: 4em;
					}
				}
				&:nth-child(2) {
					&::before {
						border-left: 0.15em dashed #999fae;
						border-top-left-radius: 3.5em;
						border-bottom-left-radius: 3.5em;
						right: 4em;
					}
				}
				&:nth-child(3) {
					&::before {
						border-top: 0.15em dashed #999fae;
						border-bottom: 0.15em dashed #999fae;
						border-right: 0.15em dashed #999fae;
						border-top-right-radius: 3.5em;
						border-bottom-right-radius: 3.5em;
						left: 4em;
					}
				}
				&:nth-child(4) {
					&::before {
						border-bottom: 0.15em dashed #999fae;
						border-left: 0.15em dashed #999fae;
						border-top-left-radius: 3.5em;
						border-bottom-left-radius: 3.5em;
						right: 3em;
					}
				}
				&:nth-child(5) {
					.steps__cell-text {
						margin: 0;
						padding: 3.5em 1em 3.5em;
					}
					&::before {
						border-bottom: 0.15em dashed #999fae;
						border-right: 0.15em dashed #999fae;
						border-top-right-radius: 3.5em;
						border-bottom-right-radius: 3.5em;
						left: -1em;
					}
				}
			}
		}
	}
}

// List-BLocks ========================================================

.list-blocks {
	padding: 7.25em 0 5.3125em;
	position: relative;
	&-wrap {
		position: relative;
	}
	&__head {
		position: relative;
		margin: 0 0 2.25em;
		h2 {
			color: #1d1d22;
			max-width: 17em;
		}
		.list-blocks-bell-flat {
			user-select: none;
			pointer-events: none;
			position: absolute;
			width: 14em;
			right: 5.5em;
			top: -3em;
			transform-origin: 4.6875em 0;
			animation: bell 2s linear infinite;
		}
		@keyframes bell {
			0% {
				transform: rotate(0deg);
			}
			84% {
				transform: rotate(0deg);
			}
			85% {
				transform: rotate(5deg);
			}
			90% {
				transform: rotate(-5deg);
			}
			95% {
				transform: rotate(5deg);
			}
			100% {
				transform: rotate(0deg);
			}
		}
	}
	&__body {
		display: flex;
		flex-flow: wrap;
	}
	&__item {
		width: 50%;
		padding: 2.5em 10em 1.25em;
		&-text {
			h5 {
				font-family: "Poppins", sans-serif;
				font-style: normal;
				font-weight: 600;
				font-size: 1.125em;
				line-height: 130%;
			}
			p {
				margin: 0.9em 0 0;
				font-size: 1.125em;
				line-height: 1.6875em;
				color: #999fae;
			}
			h4 {
				font-family: "Montserrat", sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 0.875em;
				width: max-content;
				line-height: 100%;
				text-transform: uppercase;
				background: #fa406d;
				padding: 0.5em 0.85em 0.375em;
				border-radius: 6.25em;
				color: #ffffff;
				margin: 0 0 1.5em;
			}
		}
		@media (min-width: 1024px) {
			&:nth-child(1) {
				border-top: 0.0625em solid #e3e6e9;
				border-right: 0.0625em solid #e3e6e9;
				padding: 2.5em 8.25em 1.25em 14.3em;
			}
			&:nth-child(2) {
				border-top: 0.0625em solid #999fae;
				padding: 2.5em 14.3em 1.25em 2.125em;
			}
			&:nth-child(3) {
				border-right: 0.0625em solid #e3e6e9;
				border-bottom: 0.0625em solid #e3e6e9;
				border-top: 0.0625em solid #999fae;
				padding: 2.5em 8.25em 1.25em 14.3em;
			}
			&:nth-child(4) {
				border-top: 0.0625em solid #e3e6e9;
				border-bottom: 0.0625em solid #e3e6e9;
				padding: 2.5em 14.3em 1.25em 2.125em;
			}
		}
	}
	@media (min-width: 579px) and (max-width: 1023px) {
		padding: 7.25em 2em 5.3125em;
		&__head {
			.list-blocks-bell-flat {
				width: 7em;
				right: 0em;
				top: -5em;
			}
		}
		&__item {
			&:nth-child(1) {
				border-right: 0.0625em solid #e3e6e9;
				padding: 2.5em 1.25em 1.25em 0;
			}
			&:nth-child(2) {
				padding: 2.5em 0 1.25em 1.25em;
			}
			&:nth-child(3) {
				border-top: 0.0625em solid #e3e6e9;
				border-right: 0.0625em solid #e3e6e9;
				padding: 2.5em 1.25em 1.25em 0;
			}
			&:nth-child(4) {
				border-top: 0.0625em solid #e3e6e9;
				padding: 2.5em 0 1.25em 1.25em;
			}
		}
	}
	@media (max-width: 578px) {
		padding: 7.25em 2em 5.3125em;
		&__head {
			.list-blocks-bell-flat {
				width: 7em;
				right: -3em;
				top: -5em;
			}
		}
		&__item {
			width: 100%;
			padding: 0 0 2em;
		}
	}
}
.list-blocks-elips {
	position: absolute;
	border-radius: 50%;
	z-index: -1;
}
.list-blocks-elips-1 {
	width: 5.75em;
	height: 5.75em;
	left: 6.75em;
	top: 13.25em;
	animation: levitation 5s linear infinite;
}
.list-blocks-elips-2 {
	width: 11.375em;
	height: 11.375em;
	left: -5.6875em;
	bottom: 2.5em;
	animation: levitation 8s linear infinite;
}
.list-blocks-elips-3 {
	width: 10.3125em;
	height: 10.3125em;
	right: -5.125em;
	bottom: 17.375em;
	animation: levitation 8s linear infinite reverse;
}
.list-blocks-elips-color-pink1 {
	background-color: #fff2f4;
}
.list-blocks-elips-color-pink2 {
	background-color: #fed0da;
}
.list-blocks-elips-color-blue {
	background-color: #badeff;
}
.list-blocks-elips-color-primary {
	background-color: #5956e9;
}
.list-blocks-elips-color-accent1 {
	background-color: #ffdc60;
}

@media (max-width: 578px) {
	.list-blocks-elips-3 {
		bottom: 37.375em;
	}
}

// List-Tasks ========================================================

.list-tasks {
	padding: 9em 6em 8.5em;
	position: relative;
	background: #292930;
	border-radius: 2.5em;
	&-wrap {
		position: relative;
		margin: 5em 0 0;
	}
	&__head {
		position: relative;
		margin: 0 0 2.25em;
		h2 {
			color: #fff;
			max-width: 15em;
		}
		.list-tasks-magnize {
			user-select: none;
			pointer-events: none;
			position: absolute;
			width: 47em;
			right: -18em;
			top: -12em;
		}
	}
	&__body {
		display: flex;
		flex-flow: wrap;
	}
	&__item {
		width: 50%;
		padding: 3em 6em 0 0;
		&-text {
			h5 {
				font-family: "Poppins", sans-serif;
				font-style: normal;
				font-weight: 600;
				font-size: 1.125em;
				line-height: 130%;
				color: #fff;
			}
			p {
				margin: 0.9em 0 0;
				font-size: 1.125em;
				line-height: 1.6875em;
				color: #999fae;
			}
			h4 {
				font-family: "Poppins", sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: 0.875em;
				width: max-content;
				line-height: 100%;
				text-transform: uppercase;
				background: #fa406d;
				padding: 0.5em 0.85em 0.375em;
				border-radius: 6.25em;
				color: #ffffff;
				margin: 0 0 1.5em;
			}
		}
	}

	&-cube-1 {
		width: 4.375em;
		top: 2em;
		right: 40%;
		animation: levitation 4s linear infinite;
	}
	&-cube-2 {
		bottom: 2em;
		right: 10em;
		width: 10em;
		animation: levitation 4s linear infinite;
	}
	&-cube-3 {
		width: 2.25em;
		right: 19em;
		bottom: 33%;
		animation: levitation 6s linear infinite reverse;
	}
	@media (max-width: 1023px) {
		padding: 12.25em 2em 5.3125em;
		&__head {
			.list-tasks-magnize {
				right: -15em;
				top: -23em;
			}
		}
		&-cube-1 {
			right: 60%;
		}
		&-cube-2 {
			bottom: -2em;
			right: -4em;
		}
		&-cube-3 {
			display: none;
		}
	}
	@media (max-width: 578px) {
		padding: 14.25em 2em 5.3125em;
		&__head {
			.list-tasks-magnize {
				width: 44em;
				right: -14.5em;
				top: -22em;
			}
		}
		&__item {
			width: 100%;
			padding: 0 0 2em;
		}
		&-cube-1 {
			display: none;
		}
	}
}

.developing-page,
.contacts-page {
	position: relative;
	background: #fff;
	min-height: 100vh;
	z-index: 1;
	.colors-lines-1 {
		top: 27.4375em;
		left: -5.6875em;
		.line-color {
			&:nth-child(1) {
				background: #fa406d;
			}
			&:nth-child(2) {
				background: #292930;
			}
		}
	}
	.colors-lines-2 {
		left: 13.4375em;
		bottom: 4.375em;
		.line-color {
			&:nth-child(1) {
				display: none;
			}
			&:nth-child(2) {
				background: #fa406d;
			}
			&:nth-child(3) {
				background: #fab8c4;
			}
		}
	}
	.colors-lines-3 {
		right: -2em;
		bottom: 4em;
		.line-color {
			&:nth-child(1) {
				background: #fff;
			}
			&:nth-child(2) {
				background: #fab8c4;
			}
			&:nth-child(3) {
				background: #292930;
			}
		}
	}
	.watch,
	.castle,
	.coin-1,
	.coin-2,
	.search,
	.lightning,
	.this-link-1,
	.this-link-2,
	.this-link-1,
	.this-link-2,
	.this-link-3 {
		position: absolute;
		user-select: none;
		pointer-events: none;
		z-index: -1;
	}
	.watch {
		width: 16.375em;
		right: 10.6875em;
		bottom: 3em;
	}
	.coin-1 {
		width: 6.6875em;
		right: 9.25em;
		top: 18em;
	}
	.coin-2 {
		width: 4.1875em;
		left: 37.4375em;
		bottom: 4.5625em;
	}
	.search {
		width: 20.5em;
		bottom: -1.375em;
		left: 2.5em;
	}
	.castle {
		width: 11em;
		left: 2.5625em;
		top: 15.6875em;
	}
	.lightning {
		width: 4.25em;
		top: 8.3125em;
		left: 25.875em;
	}
	.this-link-1 {
		width: 3em;
		left: 56.8125em;
		top: 9.8125em;
	}
	.this-link-2 {
		width: 4.625em;
		right: 1.4375em;
		top: 28.8125em;
	}
	.this-link-3 {
		width: 3.8125em;
		left: 21.0625em;
		bottom: 21.1875em;
	}
}

.developing-web {
	&-wrap {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&__text {
		h1 {
			text-align: center;
		}
		p {
			text-align: center;
			font-size: 1.125em;
			line-height: 1.6875em;
			text-align: center;
			color: #7c7e86;
			margin: 1.375em 0 2.75em;
		}
	}
	&__btns {
		text-align: center;
	}
	@media (max-width: 1023px) {
		background: rgba(255, 255, 255, 0.7);
		border-radius: 2em;
		padding: 2em 0;
		&-wrap {
			position: static;
			padding: 4em 1em 8em;
			transform: translate(0);
		}
		&__text {
			h1 {
				@include fluidFontSize(32px, 72px, 320px, 1023px);
			}
		}
		&__btns {
			.btn {
				width: 100%;
				&-pink {
					margin: 1.5em 0 0;
				}
			}
		}
	}
}

.developing-images {
	@media (max-width: 1023px) {
		font-size: 0.7em;
		@media (max-width: 578px) {
			font-size: 0.5em;
		}
	}
}
