// Main-block

.main-block {
	&__info {
		p {
			max-width: 33.22em;
			font-size: 1.125em;
			margin: 2.5em 0;
		}
		&-links {
			> a {
				margin-left: 1.75em;
				color: $accent;
				display: inline-flex;
				align-items: center;
				transition: color 0.2s ease-out;
				font-weight: 500;
				img {
					margin: -0.3em 1em 0 0;
					user-select: none;
					width: 1em;
					height: 1em;
				}
				&:hover {
					color: $textcolor;
				}
			}
			.btn-black-gradient {
				margin: 0 1.5em 0 0;
			}
		}
	}
	@media (max-width: 1023px) {
		&__info {
			padding: 0 1em;
		}
		&__images {
			width: 100%;
			min-height: 25em;
			font-size: 0.7em;
			position: relative;
		}
	}
	@media (max-width: 578px) {
		&__info {
			p {
				margin: 1.5em 0;
			}
			&-links {
				display: flex;
				flex-direction: column;
				align-items: center;
				button {
					width: 100%;
					margin: 0 0 1em;
				}
				a {
					margin-left: 0;
				}
				.btn-black-gradient {
					margin: 0 0 1em;
				}
			}
		}
	}
}

// Blog-slider

.blog-slider {
	margin-top: 6em;
	&-wrap {
		margin: 7.3125em 0;
		position: relative;
		.main_cube3 {
			left: 3.0275em;
			top: 14em;
		}
		.main_cube9 {
			right: 3.0275em;
			top: 31.625em;
		}
		.line-1-pink {
			width: 50.13875em;
			height: 50.77188em;
			right: 8.10125em;
			top: 3.6175em;
		}
		.line-2-pink {
			width: 49.13813em;
			height: 47.20313em;
			left: -11.1575em;
			top: 24.02563em;
		}
	}
	&__control {
		display: flex;
		justify-content: space-between;
	}
	&__heading {
		h2 {
			font-size: 4.5em;
			font-weight: bold;
			line-height: 100%;
		}
		span {
			color: $pink;
		}
	}
	&__slider-navigation {
		display: flex;
		.blog-slider-prev,
		.blog-slider-next {
			margin-top: 1em;
		}
		.blog-slider-prev {
			margin-right: 1em;
		}
	}
	&__slide {
		padding: 2em;
		&:nth-child(even) {
			.blog-slide {
				&__head {
					background-color: #ffeddc;
				}
			}
		}
	}
	@media (max-width: 1023px) {
		&-wrap {
			margin: 3.5em 0;
			.line-1-pink {
				top: -20%;
			}
			.line-2-pink {
				top: 0;
			}
		}
		&__head {
			padding: 0 1em;
		}
		@media (max-width: 578px) {
			&__slide {
				padding: 0;
			}
			&__heading {
				h2 {
					@include fluidFontSize(34px, 72px, 320px, 1023px);
				}
			}
			&__control {
				flex-direction: column;
				align-items: center;
			}
		}
	}
}
.blog-slide {
	display: flex;
	flex-direction: column;
	&__head {
		background-repeat: no-repeat;
		background-position: center;
		width: 30.6875em;
		height: 23.75em;
		background-color: #fee2e6;
		border-radius: 1.5em;
		position: relative;
		.btn-disabled {
			position: absolute;
			bottom: 2em;
			right: -1.2em;
		}
		&-articles {
			display: flex;
			flex-direction: column;
			position: relative;
			left: -1.125em;
			top: 1.75em;
		}
		&-article {
			display: block;
			text-transform: uppercase;
			font-weight: bold;
			font-family: $montserrat;
			color: #fff;
			width: max-content;
			text-align: center;
			line-height: 100%;
			font-size: 0.875em;
			background-color: $accent;
			border-radius: 1.25em;
			padding: 0.8125em 1.5625em;
			&:not(:last-child) {
				margin-bottom: 0.5em;
			}
		}
	}
	&__text {
		margin: 2.5em 0 0;
		h6 {
			font-weight: 600;
			font-size: 1.75em;
			line-height: 120%;
			letter-spacing: -0.025em;
			margin-bottom: 0.7em;
		}
		p {
			color: #606060;
			line-height: 1.5em;
		}
	}
	@media (max-width: 1023px) {
		padding: 1.5em;
		&__head {
			max-width: 30.6875em;
			width: 100%;
		}
		@media (max-width: 578px) {
			&__text {
				h6 {
					font-size: 1.5em;
				}
			}
		}
	}
}

// Mini-Banner ============================================

.mini-banner {
	background: #fff2f4;
	border-radius: 1.5em;
	padding: 3em 6em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__text {
		p {
			font-family: "Montserrat", sans-serif;
			font-weight: 600;
			font-size: 1.75em;
			line-height: 110%;
			color: $accent;
			margin-bottom: 0.3em;
		}
		span {
			font-size: 1.125em;
			line-height: 1.6875em;
			color: $accent;
		}
	}
	@media (max-width: 1023px) {
		flex-direction: column;
		&__text {
			margin: 0 0 1em;
			p {
				text-align: center;
			}
		}
		@media (max-width: 578px) {
			padding: 2.5em 2em;
			&__btn {
				width: 100%;
				.btn {
					width: 100%;
					margin-top: 1em;
				}
			}
		}
	}
	&-black-bg {
		.mini-banner {
			background: $accent;
			&__text {
				p {
					color: #fff;
				}
			}
		}
	}
	&-blue-bg {
		.mini-banner {
			background: #f4faff;
		}
	}
}

// Faq ======================================================

.faq {
	&__container {
		background: #242427;
		border-radius: 2em;
		max-width: 81.875em;
		margin: 0 auto;
		padding: 7em 0 10em 0;
		position: relative;
	}
	&__content {
		max-width: 51.5625em;
		margin: 0 auto;
		position: relative;
		z-index: 1;
	}
	&__head {
		text-align: center;
		img {
			width: 15.25em;
			height: 7.6875em;
			user-select: none;
			pointer-events: none;
		}
		h2 {
			color: #fff;
			margin: 0.8em 0 0;
		}
	}
	&__list {
		ul {
			margin: 6em 0 0;
			li {
				border-radius: 1em;
				transition: background 0.3s ease-out;
				padding: 2.5em 2.5em 1em;
				.accordion__control {
					display: flex;
					justify-content: space-between;
					p {
						font-weight: 600;
						font-size: 1.125em;
						line-height: 1.5em;
						color: #7c7e86;
						margin-bottom: 0;
						padding-right: 0.5em;
						transition: color 0.3s ease-out;
					}
					.accordion__icon {
						width: 0.5em;
						height: 0.5em;
						margin-top: 0.3em;
						border-bottom: 0.15em solid #fff;
						border-right: 0.15em solid #fff;
						transform: rotate(45deg);
						transition: transform 0.1s ease-out;
					}
					&:hover {
						p {
							color: $grey-light;
						}
					}
				}
				.accordion__content {
					transition: max-height 0.3s ease-out;

					p {
						margin-bottom: 0;
					}
				}
				&.open {
					background: rgba(41, 41, 48, 0.7);
					margin: 0 0 1em;
					.accordion__control {
						padding: 0 0 1em;
						p {
							color: #fff;
						}
						.accordion__icon {
							transform: rotate(225deg);
						}
					}
					.accordion__content {
						padding: 0;
						p {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	@media (max-width: 578px) {
		&__container {
			padding: 3.125em 0 7.8125em;
		}
		&__list {
			ul {
				margin: 2.5em 0 0;
			}
		}
	}
}

.line-2 {
	height: 30.28063em;
	width: 49.03em;
	bottom: 8.3125em;
}
.line-2-2 {
	height: 40.125em;
	width: 51.1875em;
	right: 0.5em;
	top: 187px;
}
.faq-cube-1 {
	width: 6.33938em;
	height: 6.0225em;
	top: 9.375em;
	left: 9.9375em;
	transform: rotate(-15deg);
}
.faq-cube-2 {
	width: 3.24187em;
	height: 3.07813em;
	//transform: matrix(0.21, 0.98, 0.98, -0.21, 0, 0);
	top: 18.875em;
	right: 11.5625em;
}
.faq-cube-3 {
	filter: blur(0.25em);
	width: 4.22438em;
	height: 3.91625em;
	left: 13.25em;
	bottom: 14.5em;
}
.faq-cube-4 {
	width: 7.075em;
	height: 6.70437em;
	right: 4.5em;
	bottom: 7.875em;
}
@media (max-width: 578px) {
	.line-2-2 {
		right: -6.375em;
	}
	.faq-cube-1 {
		left: auto;
		right: -2.5em;
	}
	.faq-cube-2 {
		top: 37.1875em;
		right: auto;
		left: -1.5em;
	}
	.faq-cube-3 {
		display: none;
	}
	.faq-cube-4 {
		bottom: 1.25em;
		right: 0;
	}
}

// List-components ================================================

.list-components {
	position: relative;
	&-wrap {
		padding: 3em 1em;
	}
	&__head {
		p {
			max-width: 42.125em;
			margin: 0.875em 0;
		}
	}
	&__body {
		display: flex;
		flex-flow: wrap;
		margin: 4.5em 0 0;
	}
	&__point {
		width: 50%;
		padding-left: 7.5em;
		padding-right: 3em;
		position: relative;
		&-img {
			width: 5.625em;
			height: 5.625em;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 2em 0 0;
			position: absolute;
			left: 0;
			top: -1em;
			img {
				width: 100%;
			}
		}
		&-title {
			display: flex;
			h3 {
				font-weight: 600;
				font-size: 1.75em;
				line-height: 120%;
				letter-spacing: -0.025em;
			}
		}
		&-text {
			margin: 0.8125em 0 2.75em;
			max-width: 25.1875em;
			p {
				margin-bottom: 0;
			}
		}
	}
	@media (max-width: 1023px) {
		&__point {
			padding-left: 6em;
			padding-right: 1em;
		}
		@media (max-width: 578px) {
			&__body {
				flex-direction: column;
				margin: 2.5em 0 0;
			}
			&__point {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				&:not(:last-child) {
					margin: 0 0 2.5em;
				}
				&-title {
					max-height: 3em;
				}
				&-img {
					width: 3.625em;
					height: 3.625em;
					position: relative;
					margin: 0 0 0 -0.5em;
				}
				&-text {
					margin: 0;
				}
			}
		}
	}
}

// Quote ======================================================================

.quote {
	&-wrap {
		background: #f4faff;
		padding: 3.625em 1em;
		position: relative;
		margin: 8em 0;
		&.qoute-pink-bg {
			background: #fff2f4;
		}
	}
	h2 {
		text-align: center;
		max-width: 26em;
		margin: 0 auto;
	}
}

.quote-img-1 {
	width: 7.75em;
	height: 7.75em;
	position: absolute;
	user-select: none;
	pointer-events: none;
	left: 3.4375em;
	bottom: -2.5em;
}
.quote-img-2 {
	width: 6.125em;
	height: 6.125em;
	position: absolute;
	user-select: none;
	pointer-events: none;
	right: 3.875em;
	top: -2.25em;
}
@media (max-width: 1023px) {
	.quote-img-1 {
		bottom: -4em;
	}
	@media (max-width: 578px) {
		.quote-img-1 {
			width: 4em;
			height: 4em;
			left: 1.625em;
			bottom: -2.5em;
		}
		.quote-img-2 {
			width: 3em;
			height: 3em;
			position: absolute;
			right: 1.5em;
			top: -1.25em;
		}
	}
}
