.new-era {
	padding-top: 17.125em;
	&-wrap {
		padding-bottom: 5em;
		position: relative;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	&__info {
		width: 50%;
		padding: 7.5625em 0 5.75em 6.5em;
		h1 {
			position: absolute;
			font-family: "Montserrat", sans-serif;
			color: $accent;
			width: 40%;
			top: -2.2em;
			font-size: 5.75em;
			font-weight: bold;
			line-height: 110%;
			span {
				color: #fff;
			}
		}
		p {
			margin: 0 0 3.5em;
			padding-right: 4em;
			color: $grey-light;
			font-size: 1.125em;
		}
		&-links {
			> a {
				margin-left: 1.75em;
				color: $grey-light;
				display: inline-flex;
				align-items: center;
				transition: color 0.2s ease-out;
				line-height: 1.5em;
				img {
					margin: -0.3em 1em 0 0;
					user-select: none;
					width: 1em;
					height: 1em;
				}
				&:hover {
					color: $textcolor;
				}
			}
		}
	}
	&__images {
		width: 50%;
		position: relative;
		img {
			position: absolute;
			user-select: none;
			pointer-events: none;
			&:nth-child(1) {
				width: 23.125em;
				height: 23.125em;
				left: -10em;
				top: -4em;
				z-index: 2;
			}
			&:nth-child(2) {
				width: 30.62375em;
				height: 30.62375em;
				top: -2.8em;
				z-index: 3;
			}
			&:nth-child(3) {
				width: 49.07563em;
				height: 38.89812em;
				left: 2.3em;
				top: -18em;
				z-index: 2;
			}
			&:nth-child(4) {
				width: 38.875em;
				height: 21.4825em;
				top: -9em;
				left: -3.5em;
				z-index: 1;
			}
		}
	}
}
.back-for-body {
	position: absolute;
	user-select: none;
	pointer-events: none;
	z-index: -1;
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
	}
}

.main_picker {
	right: 36.25em;
	top: 12.85em;
	width: 6.5em;
	height: 10.0625em;
	animation: eight 3s linear infinite;
	z-index: 1;
}
.main_cube8-rotate {
	left: 1em;
	top: 4.6875em;
	width: 4.375em;
	animation: levitation 3s linear infinite;
	animation-direction: reverse;
}

.main_cube4 {
	top: -14em;
	right: 4.5em;
	width: 4.375em;
	z-index: -1;
	filter: blur(0.125em);
	animation: levitation 4s linear infinite;
}

.main_cube4-1 {
	right: 1.875em;
	top: 11.5625em;
	width: 4.375em;
	animation: levitation 3s linear infinite;
	animation-direction: reverse;
}

.main_cube2 {
	top: auto;
	bottom: 1.5em;
	right: 20em;
	width: 6.25em;
	animation: levitation 4s linear infinite;
	animation-direction: reverse;
}
.serv-img-cube2 {
	right: 12.5em;
	top: 20em;
	width: 9.375em;
	z-index: 3;
	animation: levitation 2s linear infinite reverse;
}

@keyframes eight {
	0% {
		transform: translate(-0.3125em, -0.3125em);
	}
	25% {
		transform: translate(0.3125em, 0.3125em);
	}
	50% {
		transform: translate(-0.3125em, 0.3125em);
	}
	75% {
		transform: translate(0.3125em, -0.3125em);
	}
	100% {
		transform: translate(-0.3125em, -0.1875em);
	}
}
@keyframes levitation {
	0% {
		transform: translate(0.1875em, -0.1875em);
	}
	25% {
		transform: translate(0.1875em, 0.1875em);
	}
	50% {
		transform: translate(-0.1875em, 0.1875em);
	}
	75% {
		transform: translate(-0.1875em, -0.1875em);
	}
	100% {
		transform: translate(0.1875em, -0.1875em);
	}
}

//

@media (max-width: 1023px) {
	.new-era {
		padding-top: 14em;
		&__content {
			flex-direction: column;
		}
		&__info {
			width: 100%;
			padding: 7.5625em 1.5em 8.75em 1.5em;
			h1 {
				width: 80%;
				@include fluidFontSize(48px, 92px, 320px, 1024px);
			}
			p {
				padding-right: 0;
				margin: 0 0 1em;
			}
		}
		&__images {
			width: 100%;
			min-height: 24.875em;
			font-size: 0.7em;
			img {
				&:nth-child(1) {
					left: 0;
				}
				&:nth-child(2) {
					left: 19em;
				}
				&:nth-child(3) {
					left: auto;
					right: 0;
				}
				&:nth-child(4) {
					left: 18%;
				}
			}
		}
		@media (max-width: 769px) {
			padding-top: 14em;
			&__info {
				h1 {
					width: auto;
				}
			}
		}
		@media (max-width: 578px) {
			padding-top: 8em;
			&__info {
				padding: 3.5625em 1.5em 5.75em 1.5em;
				&-links {
					display: flex;
					flex-direction: column;
					align-items: center;
					.btn {
						margin-bottom: 1em;
						width: 100%;
					}
					& > a {
						margin-left: 0;
					}
				}
			}
			&__images {
				font-size: 0.4em;
				img {
					&:nth-child(1) {
						left: 0;
					}
					&:nth-child(2) {
						left: 11em;
					}
					&:nth-child(3) {
						left: auto;
						right: -7em;
					}
					&:nth-child(4) {
						left: 10%;
					}
				}
			}
		}
	}
	.back-for-body {
		border-radius: 2em 0 2em 2em;
		background: linear-gradient(261.75deg, #484b57 -2.32%, #232326 98.31%);
		img {
			display: none;
		}
	}
	.main_cube8-rotate {
		left: 0em;
		top: -2.3125em;
	}
	.main_cube4 {
		top: -11em;
	}
	.main_cube4-1 {
		right: 0;
		top: 4.5625em;
	}
	.serv-img-cube2 {
		top: auto;
		right: 7.5em;
		bottom: 14em;
	}
	.main_picker {
		right: 27.85em;
		top: auto;
		bottom: 17em;
	}
	@media (max-width: 578px) {
		.main_cube2 {
			right: 2em;
		}
		.serv-img-cube2 {
			right: 17.5em;
			bottom: 14em;
			width: 4em;
		}
		.main_picker {
			right: 11.85em;
			bottom: 11.1em;
			width: 4.5em;
			height: 7.0625em;
		}
	}
}

// ---------------------------------------------- main-block-cards

.main-block-cards {
	position: relative;
}
.main__cards-cube1 {
	left: 0;
	top: 15em;
	width: 4em;
}
.main__cards-cube2 {
	right: 2em;
	width: 9em;
	top: 0em;
	z-index: 2;
}

.main__cards {
	padding-bottom: 12.5em;
	& > h2 {
		display: none;
		font-family: $montserrat;
		font-weight: 600;
		font-size: 2.5em;
		text-align: center;
		color: $accent;
		margin-bottom: 0.8em;
	}
	&-list {
		display: flex;
		position: relative;
		margin: 0 -1em;
		&::before {
			position: absolute;
			width: 100%;
			height: 34.96312em;
			left: 0;
			top: 0;
			z-index: -1;
			background: #ebe6ed;
			mix-blend-mode: multiply;
			filter: blur(8.15488em);
			border-radius: 2em;
			content: "";
		}
	}
	@media (max-width: 1023px) {
		padding-bottom: 4.5em;
		&-list {
			flex-flow: wrap;
			padding: 0 1.3em;
		}
		& > h2 {
			display: block;
		}
	}
	@media (max-width: 578px) {
		&-list {
			padding: 0 2em;
		}
	}
}
.main__card {
	box-shadow: 0em 0.25em 0.25em rgba(143, 130, 197, 0.25);
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 2em;
	position: relative;
	padding: 0.5em 0.625em;
	transition: transform 0.2s ease-out;
	&::before {
		border-radius: 2em;
		background: #fff;
		position: absolute;
		opacity: 0;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		transition: opacity 0.5s ease-out;
		content: "";
	}
	&-text {
		border-radius: 2em;
		padding: 1.625em 2.125em 3em;
		z-index: 2;
		height: 100%;
		> span {
			display: block;
			margin-bottom: 1.25em;
		}
		h6 {
			font-family: $montserrat;
			color: $textcolor;
			font-weight: 600;
			font-size: 1.75em;
			line-height: 110%;
			min-height: 2.2em;
			letter-spacing: -0.025em;
		}
		p {
			min-height: 5em;
			span {
				color: $pink;
			}
		}
	}
	&-img {
		margin: 2.75em 0 2.5625em;
		background: $accent;
		border-radius: 100%;
		width: 12.75em;
		min-height: 12.75em;
		overflow: hidden;
		position: relative;
		z-index: 2;
		transition: background 0.5s ease-out;
		img {
			user-select: none;
			position: absolute;
			left: 0;
			top: 0;
			padding: 1em;
			width: 100%;
			height: auto;
			transition: opacity 0.2s ease-out;
			&:last-child {
				opacity: 0;
			}
		}
	}
	&-wrapper {
		width: 25%;
		padding: 0.5em 0.25em;
		&:hover {
			.main__card {
				transform: scale(1.02);
				z-index: 4;
				&::before {
					background: $accent;
					opacity: 1;
				}
				&-text {
					background: #fff;
					h6 {
						color: $accent;
					}
					.pink-link {
						color: $pink;
						&::after {
							border-top-color: $pink;
							border-right-color: $pink;
						}
					}
				}
				&-img {
					background: #ffd3db;
					img {
						&:first-child {
							opacity: 0;
						}
						&:last-child {
							opacity: 1;
						}
					}
				}
			}
		}
		&:nth-child(3) {
			.main__card {
				&-img {
					img {
						&:first-child {
							width: 16em;
							left: -0.5em;
							top: 0.7em;
						}
						&:last-child {
							width: 14.3em;
							left: -0.2em;
							top: 0.6em;
						}
					}
				}
			}
		}
		&:nth-child(4) {
			.main__card {
				&-img {
					img {
						left: 0.5em;
						top: 0.5em;
					}
				}
			}
		}
	}
	@media (max-width: 1023px) {
		&-wrapper {
			width: 50%;
		}
	}
	@media (max-width: 578px) {
		&-wrapper {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 1em;
			}
			.main__card {
				transform: scale(1.02);
				z-index: 4;
				&::before {
					background: $accent;
					opacity: 1;
				}
				&-text {
					background: #fff;
					h6 {
						color: $accent;
					}
					.pink-link {
						color: $pink;
						&::after {
							border-top-color: $pink;
							border-right-color: $pink;
						}
					}
				}
				&-img {
					background: #ffd3db;
					img {
						&:first-child {
							opacity: 0;
						}
						&:last-child {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

// Steps-work

.steps-work {
	&__head {
		margin-bottom: 3.75em;
		h2 {
			font-weight: bold;
			font-size: 4.5em;
			margin-bottom: 0.3em;
		}
	}
	&__control {
		display: flex;
		justify-content: space-between;
	}
	&__slider-navigation {
		display: flex;
		justify-content: flex-end;
		.slider-next {
			margin-left: 1em;
		}
	}
	&__steps {
		display: flex;
		align-items: center;
		span {
			display: block;
			position: relative;
			font-weight: bold;
			font-size: 1.25em;
			line-height: 100%;
			text-transform: uppercase;
			font-family: $montserrat;
			color: $pink;
			&:not(:last-child) {
				margin-right: 4.5em;
				&::after {
					height: 0.125em;
					width: 1.5em;
					background: $pink;
					right: -3em;
					top: 50%;
					position: absolute;
					content: "";
				}
			}
		}
	}

	&__slide {
		.step-slide {
			padding: 0 1em;
			h6 {
				font-weight: 600;
				font-size: 1.75em;
				letter-spacing: -0.025em;
				color: #000;
				padding-right: 1em;
				min-height: 2.4em;
			}
			p {
				margin: 0.3em 0 2em;
			}
			&__point {
				box-shadow: 0em 0.25em 1em rgba(69, 79, 90, 0.09);
				border-radius: 1em;
				padding: 1em 1em 1em 3.25em;
				margin: 0 0 1em;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					left: 1em;
					width: 1.25em;
					height: 1.25em;
					border-radius: 100%;
					background-color: $pink;
				}
				&::after {
					content: "";
					position: absolute;
					left: 1.45em;
					top: 1.2em;
					width: 0.35em;
					height: 0.75em;
					border-bottom: 0.15em solid #fff;
					border-right: 0.15em solid #fff;
					transform: rotate(45deg);
				}
				span {
					color: $pink;
				}
			}
		}
	}
	@media (max-width: 1023px) {
		&__steps {
			display: none;
		}
		&__head {
			padding: 0 1em;
			h2 {
				@include fluidFontSize(48px, 72px, 320px, 1024px);
				margin-bottom: 1em;
			}
		}
		&__control {
			justify-content: center;
		}
	}
}

// Clients --------------------------------

.clients {
	&-wrap {
		margin: 6.875em 0 0;
		.back-dark {
			> img {
				user-select: none;
				pointer-events: none;
			}
		}
		.line-1 {
			left: 0;
			top: 0;
			z-index: -1;
		}
		.main_cube3 {
			left: 12em;
			top: 15em;
			width: 6em;
		}
		.main_cube9 {
			left: 3em;
			bottom: 3em;
			width: 3em;
		}
		.main_cube2 {
			right: 3em;
			bottom: 37%;
			width: 9.5em;
		}
	}
	&__head {
		display: flex;
		justify-content: space-between;
		h6 {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.25em;
			color: #fff;
		}
		h2 {
			width: 70%;
			font-size: 4.5em;
			line-height: 100%;
			color: #fff;
			font-weight: 700;
		}
	}
	&__body {
		margin: 4.125em 0 1.25em;
		padding-left: 21.4em;
		p {
			width: 60%;
			color: #fff;
			font-size: 1.125em;
			margin-bottom: 0;
		}
	}
	&__logo {
		display: flex;
		flex-flow: wrap;
		align-items: center;
		justify-content: center;
		margin: 5em 0 -5em;
		&-img {
			width: 21%;
			position: relative;
			padding: 3em;
			img {
				left: 3em;
				top: 0;
				width: 7em;
				position: absolute;
				filter: contrast(0);
				transition: filter 0.5s ease-out;
				&:hover {
					filter: contrast(1);
				}
			}
		}
	}
	@media (max-width: 1023px) {
		&-wrap {
			margin: 4.375em 0 0;
			.back-dark {
				padding: 5em 2em 2.5em;
			}
			.line-1 {
				display: none;
			}
			.main_cube3 {
				left: auto;
				right: 1em;
				top: 0;
				width: 8em;
			}
			.main_cube9 {
				left: 0;
				bottom: auto;
				top: 26em;
				width: 3.5em;
			}
			.main_cube2 {
				right: -1em;
				bottom: 3em;
				width: 7.5em;
			}
		}
		&__head {
			flex-direction: column;
			text-align: center;
			h6 {
				margin-bottom: 1em;
			}
			h2 {
				width: 100%;
			}
		}
		&__body {
			padding-left: 0;
			margin: 1em 0;
			p {
				width: 100%;
				text-align: center;
			}
		}
		&__logo {
			margin: 5em 0 -3em;
			font-size: 1.2em;
			&-img {
				width: 37%;
			}
		}
		@media (max-width: 578px) {
			&-wrap {
				.main_cube3 {
					right: -1em;
					top: -2em;
					width: 7em;
				}
				.main_cube2 {
					right: -1em;
					bottom: 3em;
					width: 5em;
				}
			}
			&__head {
				h2 {
					@include fluidFontSize(32px, 72px, 320px, 1024px);
				}
			}
			&__body {
				p {
					font-size: 1em;
				}
			}
			&__logo {
				margin: 2em 0 0;
				font-size: 1.2em;
				text-align: center;
				&-img {
					width: 100%;
					padding: 1em;
					img {
						position: static;
					}
				}
			}
		}
	}
}

// Dveloping-block

.developing-block {
	min-height: 15em;
	position: relative;
	padding: 3em;
	margin: 3em 0 5em;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	h6 {
		font-size: 3em;
		color: #000;
		margin: 0.5em 0 0;
	}
	p {
		color: #000;
		font-size: 1.125em;
		span {
			color: $pink;
		}
	}
	@media (max-width: 1023px) {
		background-image: url("../images/dist/preview2.png") !important;
		background-size: 100%;
		h6 {
			@include fluidFontSize(28px, 36px, 320px, 1024px);
		}
		@media (max-width: 1023px) {
			padding: 7em 3em;
		}
	}
}

// !Developing-block

// Main-faq

.main-faq {
	display: flex;
	justify-content: space-between;
	&-wrap {
		margin: 6.25em 0;
	}
	&__left {
		width: 22%;
		position: relative;
		& > span {
			display: block;
			color: $pink;
			margin: 1.5em 0;
		}
		&-img {
			width: 21.625em;
			height: 17.55875em;
			bottom: -5em;
			left: 0;
			position: absolute;
			z-index: -1;
		}
	}
	&__right {
		width: 53%;
	}
	@media (max-width: 1023px) {
		flex-direction: column;
		padding: 0 1em;
		&__left {
			width: 100%;
			&-img {
				display: none;
			}
		}
		&__right {
			width: 100%;
		}
	}
}
.main-faq__accordion {
	padding: 2.5em 0 0;
	.accordion {
		position: relative;
		margin-top: 1em;
		&__control {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 1.5em;
			border-radius: 1em;
			transition: background 0.2s ease-out;
			z-index: 1;
			position: relative;
		}
		&__icon {
			&-left {
				display: block;
				position: relative;
				background-color: $accent;
				border-radius: 0.5625em;
				min-width: 2em;
				height: 2em;
				transition: background 0.2ms ease-out;
				&::before,
				&::after {
					width: 0.85688em;
					height: 0.85688em;
					background: $pink;
					border-radius: 100%;
					position: absolute;
					content: "";
				}
				&::before {
					left: 0.125em;
					bottom: 0.125em;
					background: #ffd3db;
				}
				&::after {
					right: 0.125em;
					top: 0.125em;
				}
			}
			&-right {
				width: 0.875em;
				height: 0.875em;
				display: block;
				position: absolute;
				right: 2em;
				&::before,
				&::after {
					position: absolute;
					background: #000;
					transition: background 0.2s ease-out, transform 0.2s ease-out, opacity 0.2s ease-out;
					content: "";
				}
				&::before {
					width: 100%;
					height: 0.15em;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
				&::after {
					height: 100%;
					width: 0.15em;
					left: 50%;
					top: 0;
					transform: translateX(-50%);
				}
			}
		}
		&__title {
			font-weight: 500;
			font-size: 1.125em;
			line-height: 110%;
			letter-spacing: -0.025em;
			margin-left: 1.375em;
			margin-right: 1.75em;
		}
		&__content {
			background: #ffffff;
			box-shadow: 0em 0.3125em 0.5625em 0em #00000026;
			border-radius: 0 0 1.5em 1.5em;
			margin: -1em 0 0;
			transition: max-height 0.1s ease-out;
			p {
				position: relative;
				padding-left: 2em;
				&::before {
					width: 1.5em;
					height: 1.5em;
					position: absolute;
					left: 0;
					top: 0;
					display: block;
					background: url("../images/dist/components/boxer3.svg");
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100%;
					content: "";
				}
			}
		}
		&.open {
			margin-bottom: 2em;
			.accordion {
				&__control {
					background: $accent;
				}
				&__title {
					color: #fff;
				}
				&__icon {
					&-left {
						background-color: #fff;
						&::before {
							background: #fab8c4;
						}
					}
					&-right {
						&::before {
							background-color: #fff;
						}
						&::after {
							opacity: 0;
							transform: rotate(90deg);
						}
					}
				}
			}
		}
	}
	@media (max-width: 1023px) {
		padding: 0;
		@media (max-width: 578px) {
			.accordion {
				&__icon {
					&-right {
						right: 1.4em;
					}
				}
				&__control {
					padding: 1em;
				}
				&__title {
					margin-left: 0.375em;
					margin-right: 1em;
				}
				&__content {
					padding: 2em 1em 1.5em;
				}
			}
		}
	}
}

// go-to-about

.go-to-about {
	display: flex;
	&-wrap {
		.back-dark-small {
			.cloud-1 {
				width: 3.8125em;
				height: 2.80875em;
				left: -1.9375em;
				top: 4.6875em;
			}
			.cloud-2 {
				top: -3.5em;
				right: 30%;
			}
		}
	}
	&__text {
		width: 65%;
		h2 {
			color: #fff;
			font-size: 4em;
			font-weight: 600;
			line-height: 112%;
		}
		p {
			font-size: 1.125em;
			line-height: 1.6875em;
			color: #fff;
			margin: 1.25em 0 3.125em;
		}
	}

	&__img {
		width: 30%;
		position: relative;
		img {
			position: absolute;
			right: -80%;
			top: 0;
			width: 44.375em;
			height: 23.8125em;
		}
	}
	@media (max-width: 1023px) {
		&-wrap {
			.back-dark-small {
				.cloud-1 {
					top: 0.5em;
				}
				.cloud-2 {
					top: -4.5em;
					right: -2em;
				}
			}
		}
		&__text {
			width: 100%;
			h2 {
				@include fluidFontSize(32px, 64px, 320px, 1023px);
			}
			p {
				margin: 1em 0 1.5em;
			}
			.btn-pink {
				width: 100%;
			}
		}
		&__img {
			display: none;
		}
	}
}

.main-page-request {
	position: relative;
	margin: 2.8125em 0 4em;
	.request {
		background: #fff2f4;
	}
	.img-chat-l-form {
		right: -1.3em;
		bottom: 0;
		width: 15.4375em;
		height: 14.875em;
	}
	@media (max-width: 1023px) {
		.img-chat-l-form {
			right: 35%;
		}
		@media (max-width: 578px) {
			.img-chat-l-form {
				right: 15%;
			}
		}
	}
}
