// USER VARIABLES SECTION

$accent: #292930; // Accent Color
$fontsize: 1vw; // Body Font Size
$textcolor: #999fae; // Text Color
$grey-light: #e3e6e9;
$pink: #fa406d;
$lineheight: 150%; // Document Line Height
$userfont: "Poppins", sans-serif; // User Font Family
$montserrat: "Montserrat", sans-serif;
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// Bootstrap compatible gutter variable => $gutter
//$grid-gutter-width: 30px;
//$gutter: $grid-gutter-width;

// IMPORT SECTION

@import "node_modules/bootstrap/scss/bootstrap-reboot.scss"; // Bootstrap Reboot collection
//@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss"; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites
@import "node_modules/swiper/swiper-bundle";
@import "node_modules/aos/dist/aos";

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format("woff2");
	}
}
@include font("Montserrat", normal, 600, "../fonts/MontserratSemiBold.woff2");
@include font("Poppins", normal, 500, "../fonts/PoppinsMedium.woff2");
@include font("Poppins", bold, 700, "../fonts/PoppinsBold.woff2");
@include font("Poppins", normal, 400, "../fonts/PoppinsRegular.woff2");
@include font("roboto-oh5", italic, 700, "../fonts/roboto-bolditalic-webfont.woff2");
@include font("roboto-oh5", normal, 400, "../fonts/roboto-regular-webfont.woff2");

// GENERAL DOCUMENT STYLES

:root {
	font-size: calc(1vw + 1vh + 0.5vmin);
}
input,
textarea {
	outline: none;
}
button {
	background-color: initial;
	border: 0;
	display: inline-block;
	padding: 0;
}
body {
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
	min-width: 20em;
	position: relative;
	overflow-x: hidden;
	//font: 1rem/1.6 sans-serif;
}
body._lock {
	overflow: hidden;
}
@media (min-width: 1024px) and (max-width: 1440px) {
	body {
		font-size: 1.1vw;
	}
}
@media (max-width: 1023px) {
	body {
		font-size: 2vw;
	}
	@media (max-width: 578px) {
		body {
			font-size: 4.5vw;
		}
	}
}
.wrapper {
	height: 100%;
}
.wrapper-in {
	position: relative;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.content {
	overflow: hidden;
	flex: 1;
	padding-top: 15em;
	@media (max-width: 769px) {
		padding-top: 11em;
	}
}
.container {
	max-width: 81.875em;
	margin: 0 auto;
}
.container__text {
	max-width: 67.75em;
	margin: 0 auto;
}

a {
	text-decoration: none;
	font-family: $userfont;
	transition: color 0.2s ease-out;
}
ul {
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
	li {
		a {
			transition: color 0.3s ease-out;
		}
	}
}
p,
span {
	font-family: $userfont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $montserrat;
	color: $accent;
	margin-bottom: 0;
}

.h1-92 {
	font-weight: bold;
	font-size: 5.75em;
	line-height: 110%;
	max-width: 8em;
	.dot-pink {
		margin-left: -0.3em;
	}
}
.h2-72 {
	font-size: 4.5em;
	line-height: 100%;
	font-weight: bold;
}
.h2-64 {
	font-size: 4em;
	font-weight: 600;
	line-height: 112%;
}
.h2-56 {
	font-weight: 600;
	font-size: 3.5em;
	line-height: 110%;
}
.h2-48 {
	font-weight: 600;
	font-size: 3em;
	line-height: 120%;
}
.h2-40 {
	font-weight: 600;
	font-size: 2.5em;
	line-height: 110%;
}
.h6-28 {
	font-weight: 600;
	font-size: 1.75em;
	line-height: 120%;
	letter-spacing: -0.025em;
}
.h6-24 {
	font-weight: 600;
	font-size: 1.5em;
	line-height: 120%;
}
.h3-28 {
	font-weight: 600;
	font-size: 1.75em;
	line-height: 120%;
	letter-spacing: -0.025em;
}
@media (max-width: 1023px) {
	.h1-92 {
		@include fluidFontSize(32px, 92px, 320px, 1023px);
		max-width: none;
	}
	.h2-72 {
		@include fluidFontSize(32px, 72px, 320px, 1023px);
	}
	.h2-64 {
		@include fluidFontSize(32px, 64px, 320px, 1023px);
	}
	.h2-56 {
		@include fluidFontSize(32px, 56px, 320px, 1023px);
	}
	.h2-48 {
		@include fluidFontSize(32px, 48px, 320px, 1023px);
	}
	.h2-40 {
		@include fluidFontSize(28px, 40px, 320px, 1023px);
	}
}
