// USER VARIABLES SECTION

$accent: #292930; // Accent Color
$fontsize: 1vw; // Body Font Size
$textcolor: #999fae; // Text Color
$grey-light: #e3e6e9;
$pink: #fa406d;
$lineheight: 1.6; // Document Line Height
$userfont: "Poppins", sans-serif; // User Font Family
$montserrat: "Montserrat", sans-serif;
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// Bootstrap compatible gutter variable => $gutter
//$grid-gutter-width: 30px;
//$gutter: $grid-gutter-width;

// IMPORT SECTION

@import "node_modules/bootstrap/scss/bootstrap-reboot.scss"; // Bootstrap Reboot collection
//@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss"; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites
@import "node_modules/swiper/swiper-bundle";

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format("woff2");
	}
}
@include font("Montserrat", normal, 600, "../fonts/MontserratSemiBold.woff2");
@include font("Poppins", normal, 500, "../fonts/PoppinsMedium.woff2");
@include font("Poppins", bold, 700, "../fonts/PoppinsBold.woff2");
@include font("Poppins", normal, 400, "../fonts/PoppinsRegular.woff2");
@include font("roboto-oh5", italic, 700, "../fonts/roboto-bolditalic-webfont.woff2");
@include font("roboto-oh5", normal, 400, "../fonts/roboto-regular-webfont.woff2");

// GENERAL DOCUMENT STYLES

:root {
	font-size: calc(1vw + 1vh + 0.5vmin);
}
input,
textarea {
	outline: none;
}
button {
	background-color: initial;
	border: 0;
	display: inline-block;
	padding: 0;
}
body {
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
	min-width: 20em;
	position: relative;
	overflow-x: hidden;
	//font: 1rem/1.6 sans-serif;
}
body._lock {
	overflow: hidden;
}
@media (min-width: 1024px) and (max-width: 1440px) {
	body {
		font-size: 1.1vw;
	}
}
@media (max-width: 1023px) {
	body {
		font-size: 2vw;
	}
	@media (max-width: 578px) {
		body {
			font-size: 4.5vw;
		}
	}
}
.wrapper {
	height: 100%;
}
.wrapper-in {
	position: relative;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.content {
	overflow: hidden;
	flex: 1;
	padding-top: 15em;
	@media (max-width: 769px) {
		padding-top: 11em;
	}
}
.container {
	max-width: 81.875em;
	margin: 0 auto;
}
.container__text {
	max-width: 67.75em;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $montserrat;
	color: $accent;
	margin-bottom: 0;
}
a {
	text-decoration: none;
	font-family: $userfont;
	transition: color 0.2s ease-out;
}
ul {
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
	li {
		a {
			transition: color 0.3s ease-out;
		}
	}
}
p,
span {
	font-family: $userfont;
}

.icon-cover-img {
	//flex: 0 0 33.333%; // Навсякий случай для резинности ширины
	//min-height: 10rem; // Навсякий случай для статичности высоты при отсутсвии контента
	//padding: 0 0 60% 0; // Все заметки в основном под мобилку
	//overflow: hidden; // Для заметки
	//position: relative; // Для заметки
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		//position: absolute; // Для заметки
		//top: 0; // Для заметки
		//left: 0; // Для заметки
	}
}
.icon-cover-svg {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
